﻿@{
	ViewData["Title"] = "Home Page";
}

<div class="pageheader">
    @*<form action="results.html" method="post" class="searchbar">
        <input type="text" name="keyword" placeholder="To search type and hit enter..." />
    </form>*@
    <div class="pageicon"><span class="fa fa-home"></span></div>
    <div class="pagetitle">
        <h1>Home</h1>
        <h5>System Overview</h5>
    </div>
</div><!--pageheader-->
