﻿@{
    ViewBag.Title = "Menambahkan User Aplikasi";
}

@model UserAplikasi

<script>

</script>

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-users"></span></div>
    <div class="pagetitle">
        <h1>User Aplikasi</h1>
        <h5>Menambah User Aplikasi</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="widget">
                <h4 class="widgettitle">Menambah User Aplikasi</h4>
                <div class="widgetcontent">
                    @using (Html.BeginForm("Create", "UserAplikasi", FormMethod.Post, new { id = "DialogForm", @class = "stdform" }))
                    {
                        if (ViewBag.EnableErrorSummary == true)
                        {
                            <div class="panel panel-danger">
                                <header class="panel-heading">
                                    <h4 class="panel-title">Daftar Error</h4>
                                </header>
                                <div class="panel-body">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div><!-- .widget -->
                        }
                        <p>
                            <label>Nama Aplikasi</label>
                            <span class="field">@Html.Kendo().DropDownListFor(x => x.NamaAplikasi_Id).HtmlAttributes(new { Id = "NamaAplikasi", @style = "width:100%" }).BindTo(ViewBag.NamaAplikasi)</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Nama User</label>
                            <span class="field">@Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "User Aplikasi" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        
                        <p class="stdformbutton">
                            <button class="btn btn-success" onclick="Create()">Simpan</button>
                            <a class="btn btn-danger" onclick="location.href='/UserAplikasi/Index'; return false;">Kembali</a>
                        </p>
                    }
                </div><!--widgetcontent-->
            </div><!--widget-->
        </div>
    </div>
</div>