﻿@{
    ViewBag.Title = "Mengubah Tagihan";
}

@model Tagihan

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-money"></span></div>
    <div class="pagetitle">
        <h1>Tagihan</h1>
        <h5>Mengubah Tagihan</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="widget">
                <h4 class="widgettitle">Mengubah Tagihan</h4>
                <div class="widgetcontent">
                    @using (Html.BeginForm("Edit", "Tagihan", FormMethod.Post, new { id = "DialogForm", @class = "stdform" }))
                    {
                        if (ViewBag.EnableErrorSummary == true)
                        {
                            <div class="panel panel-danger">
                                <header class="panel-heading">
                                    <h4 class="panel-title">Daftar Error</h4>
                                </header>
                                <div class="panel-body">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div><!-- .widget -->
                        }
                        @Html.HiddenFor(x => x.CreatedTime)
                        @Html.HiddenFor(x => x.CreatedBy_Name)
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.KomisiNominal)
                        @Html.HiddenFor(x => x.KomisiPercent)
                        <p>
                            <label>Nama PIC</label>
                            <span class="field">@Html.Kendo().DropDownListFor(x => x.NamaPenagih).HtmlAttributes(new { Id = "NamaPenagih", @style = "width:100%" }).BindTo(ViewBag.NamaPIC)</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Nama Aplikasi</label>
                            <span class="field">@Html.Kendo().DropDownListFor(x => x.NamaAplikasi).HtmlAttributes(new { Id = "NamaAplikasi", @style = "width:100%" }).BindTo(ViewBag.NamaAplikasi)</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>User Aplikasi</label>
                            <span class="field">
                                @(Html.Kendo().DropDownListFor(x => x.UserAplikasi)
                                              .DataTextField("Name")
                                              .DataValueField("Name")
                                              .DataSource(source =>
                                              {
                                                  source
                                                      .Read(read =>
                                                      {
                                                          read.Action("GetUserAplikasiData", "Tagihan")
                                                              .Data("UserAplikasiData");
                                                      })
                                                      .ServerFiltering(true);
                                              })
                                              //.AutoBind(false)
                                              .CascadeFrom("NamaAplikasi")
                                              .HtmlAttributes(new { @style = "width:100%" })
                                )
                            </span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Nama Nasabah</label>
                            <span class="field">@Html.TextBoxFor(x => x.NamaNasabah, new { @class = "form-control", @placeholder = "Nama Nasabah" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>ID Number</label>
                            <span class="field">@Html.TextBoxFor(x => x.IDNumber, new { @class = "form-control", @placeholder = "ID Number" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Tagihan Pokok</label>
                            <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.TagihanPokok).Format("#").Min(0).HtmlAttributes(new { @placeholder = "Tagihan Pokok" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Tagihan Terbayar</label>
                            <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.TagihanTerbayar).Format("#").Min(0).HtmlAttributes(new { @placeholder = "Tagihan Terbayar" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Nomor Telepon</label>
                            <span class="field">@Html.TextBoxFor(x => x.NomorTelepon, new { @class = "form-control", @placeholder = "Nomor Telepon" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Atas Nama</label>
                            <span class="field">@Html.TextBoxFor(x => x.NomorTeleponNama, new { @class = "form-control", @placeholder = "Atas Nama" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Telat</label>
                            <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.Telat).Max(1000).Format("#").HtmlAttributes(new { @placeholder = "Telat" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Tanggal Pembayaran</label>
                            @if (User.IsInRole("Admin"))
                            {
                                <span class="field">@Html.Kendo().DatePickerFor(x => x.TanggalPembayaran).Value(DateTime.Now)</span>
                            }
                            else
                            {
                                <span class="field">@Html.Kendo().DatePickerFor(x => x.TanggalPembayaran).Value(DateTime.Now).Max(DateTime.Now).Min(DateTime.Now.AddDays(- ViewBag.MaxHariTagihan))</span>
                            }
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Tipe Pembayaran</label>
                            <span class="field">@Html.Kendo().DropDownListFor(x => x.TipePembayaran).HtmlAttributes(new { Id = "TipePembayaran", @style = "width:100%" }).BindTo(ViewBag.TipePembayaran)</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>File Attachment</label>
                            <span class="field">@Html.Kendo().Upload().Name("Files")</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p class="stdformbutton">
                            <button class="btn btn-success" onclick="Create()">Simpan</button>
                            <a class="btn btn-danger" onclick="location.href='/Tagihan/Index'; return false;">Kembali</a>
                        </p>
                    }
                </div><!--widgetcontent-->
            </div><!--widget-->
        </div>
    </div>
</div>

<script>
    var ddlNamaAplikasi = $("#NamaAplikasi").data("kendoDropDownList");

    function UserAplikasiData() {
        return {
            namaAplikasi: $("#NamaAplikasi").data("kendoDropDownList").value()
        };
    }
</script>