﻿@{
    ViewData["Title"] = "Daftar Tagihan";
}

@section Footer {
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
    <script type="text/javascript">
        var SelectedRow = "";
        var State = "create";
        var Dialog;

        function RefreshGrid() {
            var Grid = $('#Grid').data('kendoGrid');
            Grid.dataSource.read();
            SelectedRow = "";
            return false;
        }
        

        $(document).ready(function () {
            Dialog = $("<div id='window' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                width: "100%",
                height: "100%"
            }).data("kendoWindow");

            Dialog_2 = $("<div id='window_2' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                open: function (e) {
                    this.wrapper.css({ top: 50, left: 50 });
                }
            }).data("kendoWindow");

            $("body").delegate("#GridButtonCreate", "click", function () {
                var url = $(this).attr("href");
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonEdit", "click", function () {
                if (SelectedRow.length != 1) {
                    alert("Pilih satu data saja!");
                    return false;
                }
                var url = $(this).attr("href") + "/" + SelectedRow;
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonView", "click", function () {
                if (SelectedRow.length != 1) {
                    alert("Pilih satu data saja!");
                    return false;
                }
                var url = $(this).attr("href") + "/" + SelectedRow;
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonDelete", "click", function () {
                if (SelectedRow.length == 0) {
                    alert("Pilih minimal satu data!");
                    return false;
                }
                if (!confirm("Anda yakin ingin menghapus " + SelectedRow.length + " data ini?")) {
                    return false;
                }
                $.ajax({
                    type: 'POST',
                    url: $(this).attr("href") + "/" + SelectedRow,
                    success: function (data) {
                        if (data == "") {
                            RefreshGrid();
                        }
                        else {
                            alert(data);
                        }
                    }
                });
                return false;
            });

            $("body").delegate("#GridButtonDeleteFiles", "click", function () {
                var r = confirm("Are you sure to delete this file?");
                if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr("href"),
                        success: function (data) {
                            if (data == "") {
                                RefreshGrid();
                            }
                            else {
                                alert(data);
                            }
                        }
                    });
                    return false;
                } else {
                    return false;
                }
            });

        });

        var index = 0;
        var CurrentPage = 0;
        var CurrentPageSize = 0;
        function GetRowNumber() {
            return ++index;
        }

        function onDataBinding() {
            var Grid = $("#Grid").data("kendoGrid");
            CurrentPage = Grid.dataSource.page();
            CurrentPageSize = Grid.dataSource.pageSize();
            index = ((CurrentPage - 1) * CurrentPageSize);
        }

        function onChange(e) {
            var Grid = e.sender;
            SelectedRow = $.map(this.select(), function (item) {
                return Grid.dataItem(item).Id;
            });
        }

    </script>
}
<div class="pageheader">
    <div class="pageicon"><span class="fa fa-money"></span></div>
    <div class="pagetitle">
        <h1>Tagihan</h1>
        <h5>Daftar Tagihan</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <button href="/Tagihan/Create" class="btn btn-success" id="GridButtonCreate"><i class="fa fa-plus-circle"></i> Create</button>
            <button href="/Tagihan/Edit" class="btn btn-warning" id="GridButtonEdit"><i class="fa fa-pencil"></i> Edit</button>
            @if (User.IsInRole("Admin"))
            {
                <button href="/Tagihan/Delete" class="btn btn-danger" id="GridButtonDelete"><i class="fa fa-trash"></i> Delete</button>
            }
            <div>
                @(Html.Kendo().Grid<Tagihan>()
                      .Name("Grid")
                      .Columns(columns =>
                      {
                          //columns.Bound(e => e.Id).Title("No").ClientTemplate("#= GetRowNumber() #").Width(35).Filterable(false).Sortable(false);
                          columns.Bound(e => e.NamaPenagih).Width(150);
                          columns.Bound(e => e.NamaAplikasi).Width(150);
                          columns.Bound(e => e.UserAplikasi).Width(150);
                          columns.Bound(e => e.NamaNasabah).Width(150);
                          columns.Bound(e => e.IDNumber).Width(150);
                          columns.Bound(e => e.NomorTelepon).Width(150);
                          columns.Bound(e => e.NomorTeleponNama).Width(150);
                          columns.Bound(e => e.Telat).Width(150);
                          if (User.IsInRole("Admin"))
                          {
                              columns.Bound(e => e.TagihanPokok).Width(150)
                                  .ClientGroupFooterTemplate("Total Group : #=kendo.toString(sum, 'C')#")
                                  .ClientFooterTemplate("Total : #=kendo.toString(sum, 'C')#");
                              columns.Bound(e => e.TagihanTerbayar).Width(150)
                                  .ClientGroupFooterTemplate("Total Group : #=kendo.toString(sum, 'C')#")
                                  .ClientFooterTemplate("Total : #=kendo.toString(sum, 'C')#");
                              columns.Bound(e => e.KomisiPercent).Width(150);
                              columns.Bound(e => e.KomisiNominal).Width(150)
                                  .ClientGroupFooterTemplate("Total Group : #=kendo.toString(sum, 'C')#")
                                  .ClientFooterTemplate("Total : #=kendo.toString(sum, 'C')#");
                          }
                          else
                          {
                              columns.Bound(e => e.TagihanPokok).Width(150);
                              columns.Bound(e => e.TagihanTerbayar).Width(150);
                          }
                          columns.Bound(e => e.TipePembayaran).Width(150);
                          columns.Bound(e => e.TanggalPembayaran).Width(150);
                          columns.Bound(e => e.CreatedTime).Width(150);
                          columns.Bound(e => e.CreatedBy_Name).Width(150);
                      })
                      .DataSource(binding => binding
                          .Ajax()
                          .Model(model => model.Id(m => m.Id))
                          .Read("Select", "Tagihan")
                          .Aggregates(aggregates =>
                          {
                              aggregates.Add(p => p.TagihanPokok).Sum();
                              aggregates.Add(p => p.TagihanTerbayar).Sum();
                              aggregates.Add(p => p.KomisiNominal).Sum();
                          })
                          .Sort(x => x.Add("CreatedTime").Descending())
                          .PageSize(350)
                      //.Group(x => x.Add(b => b.ParentCategoriesName))
                      )
                      .Groupable()
                      .ToolBar(tools => tools.Excel())
                      .Excel(excel => excel
                          .FileName("Report Tagihan " + DateTime.Now.ToShortDateString() + ".xlsx")
                          .Filterable(true)
                          .ProxyURL(Url.Action("ExportExcel", "Tagihan"))
                      )
                      .Pageable(m => m.PageSizes(new int[3] { 350, 600,1000 }))
                      .Editable(m => m.Enabled(false))
                      .Resizable(m => m.Columns(true))
                      .Sortable()
                      .ClientDetailTemplateId("template")
                      .Filterable(filterable => filterable
                          .Extra(true)
                          .Operators(operators => operators
                              .ForString(str => str.Clear()
                                  .Contains(Utility.GridFilter["Contains"])
                              )
                              .ForDate(str => str.Clear()
                                  .IsGreaterThanOrEqualTo(Utility.GridFilter["IsGreaterThanOrEqualTo"])
                                  .IsLessThanOrEqualTo(Utility.GridFilter["IsLessThanOrEqualTo"])
                              ))
                      )
                      .Scrollable(m => m
                          .Height(1000)
                      )
                      .Selectable(selectable => selectable
                          .Mode(GridSelectionMode.Multiple)
                          .Type(GridSelectionType.Row))
                      .Events(events => events
                          .DataBinding("onDataBinding")
                          .Change("onChange")
                      ))

                <script id="template" type="text/kendo-tmpl">
                    @(Html.Kendo().Grid<TagihanFileViewModel>()
                          .Name("grid_#=Id#")
                          .Columns(columns =>
                          {
                              columns.Bound(e => e.ViewButton).Encoded(false).Title("View").Width(100);
                              columns.Bound(e => e.DeleteButton).Encoded(false).Title("Delete").Width(100);
                              columns.Bound(e => e.FileName).Width(300);
                              columns.Bound(e => e.FileType).Width(100);
                              columns.Bound(e => e.FileSize).Width(100);
                          })
                          .DataSource(binding => binding
                              .Ajax()
                              .Model(model => model.Id(m => m.Id))
                              .Read("SelectFiles", "Tagihan", new { TagihanId = "#=Id#" })
                          )
                          .Pageable()
                          .Sortable()
                          .ToClientTemplate()
                          )
                </script>
            </div>
        </div><!--row-fluid-->
    </div><!--maincontentinner-->
</div><!--maincontent-->
