﻿@{
    ViewBag.Title = "Menambahkan People";
}

@model People

<script>

</script>

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-users"></span></div>
    <div class="pagetitle">
        <h1>People</h1>
        <h5>Menambah People</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="widget">
                <h4 class="widgettitle">Menambah People</h4>
                <div class="widgetcontent">
                    @using (Html.BeginForm("Create", "People", FormMethod.Post, new { id = "DialogForm", @class = "stdform" }))
                    {
                        if (ViewBag.EnableErrorSummary == true)
                        {
                            <div class="panel panel-danger">
                                <header class="panel-heading">
                                    <h4 class="panel-title">Daftar Error</h4>
                                </header>
                                <div class="panel-body">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div><!-- .widget -->
                        }
                        @(Html.Kendo().TabStrip()
                                    .Name("tabstrip")
                                    .Animation(animation =>
                                        animation.Open(effect =>
                                            effect.Fade(FadeDirection.In)))
                                    .Items(tabstrip =>
                                    {
                                        tabstrip.Add().Text("Informasi People")
                                                .Selected(true)
                                                .Content(@<text>
                                            <p>
                                                <label>Nama Orang</label>
                                                <span class="field">@Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Nama Orang" })</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Nama Aplikasi</label>
                                                <span class="field">@Html.TextBoxFor(x => x.ApplicationName, new { @class = "form-control", @placeholder = "Nama Aplikasi" })</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>ID Number</label>
                                                <span class="field">@Html.TextBoxFor(x => x.IDNumber, new { @class = "form-control", @placeholder = "ID Number" })</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Nomor Telepon</label>
                                                <span class="field">@Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Nomor Telepon" })</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Log</label>
                                                <span class="field">@Html.TextBoxFor(x => x.Log, new { @class = "form-control", @placeholder = "Nama Orang" })</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Log Description</label>
                                                <span class="field">@Html.TextBoxFor(x => x.LogDescription, new { @class = "form-control", @placeholder = "Nama Orang" })</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Log Update Time</label>
                                                <span class="field">@Html.Kendo().DatePickerFor(x => x.LogUpdateTime)</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Date Reminder</label>
                                                <span class="field">@Html.Kendo().DatePickerFor(x => x.DateReminder)</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Jumlah Keterlambatan</label>
                                                <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.DateOverdue).Min(0).Value(0).HtmlAttributes(new { @placeholder = "Jumlah Keterlambatan" })</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Tanggal Permintaan</label>
                                                <span class="field">@Html.Kendo().DatePickerFor(x => x.DateRequested)</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Keterangan</label>
                                                <span class="field">@Html.TextBoxFor(x => x.Notes, new { @class = "form-control", @placeholder = "Keterangan" })</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                            <p>
                                                <label>Rencana</label>
                                                <span class="field">@Html.TextBoxFor(x => x.Planning, new { @class = "form-control", @placeholder = "Rencana" })</span>
                                                <small class="desc">* Required</small>
                                            </p>
                                             <p>
                                                 <label>Link Pembayaran</label>
                                                 <span class="field">@Html.TextBoxFor(x => x.PaymentLink, new { @class = "form-control", @placeholder = "Link Pembayaran" })</span>
                                                 <small class="desc">* Required</small>
                                             </p>
                                            <p>
                                                <label>Total Pembayaran</label>
                                                <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.TotalAmount).Min(0).Value(0).HtmlAttributes(new { @placeholder = "Total Pembayaran" })</span>
                                            </p>
                                             <p>
                                                 <label>Total Pengembalian</label>
                                                 <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.TotalReturn).Min(0).Value(0).HtmlAttributes(new { @placeholder = "Total Pengembalian" })</span>
                                             </p>
                                            <p class="stdformbutton">
                                                <button class="btn btn-success" onclick="Create()">Simpan</button>
                                                <a class="btn btn-danger" onclick="location.href='Index'; return false;">Kembali</a>
                                            </p>
                                                </text>);
                                                                    })
                        )
                    }
                </div><!--widgetcontent-->
            </div><!--widget-->
        </div>
    </div>
</div>