﻿@{
    ViewData["Title"] = "Daftar People";
}

@section Footer {
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
    <script type="text/javascript">
        var SelectedRow = "";
        var State = "create";
        var Dialog;

        function RefreshGrid() {
            var Grid = $('#Grid').data('kendoGrid');
            Grid.dataSource.read();
            SelectedRow = "";
            return false;
        }
        

        $(document).ready(function () {
            Dialog = $("<div id='window' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                width: "100%",
                height: "100%"
            }).data("kendoWindow");

            Dialog_2 = $("<div id='window_2' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                open: function (e) {
                    this.wrapper.css({ top: 50, left: 50 });
                }
            }).data("kendoWindow");

            $("body").delegate("#GridButtonCreate", "click", function () {
                var url = $(this).attr("href");
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonEdit", "click", function () {
                if (SelectedRow.length != 1) {
                    alert("Pilih satu data saja!");
                    return false;
                }
                var url = $(this).attr("href") + "/" + SelectedRow;
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonView", "click", function () {
                if (SelectedRow.length != 1) {
                    alert("Pilih satu data saja!");
                    return false;
                }
                var url = $(this).attr("href") + "/" + SelectedRow;
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonDelete", "click", function () {
                if (SelectedRow.length == 0) {
                    alert("Pilih minimal satu data!");
                    return false;
                }
                if (!confirm("Anda yakin ingin menghapus " + SelectedRow.length + " data ini?")) {
                    return false;
                }
                $.ajax({
                    type: 'POST',
                    url: $(this).attr("href") + "/" + SelectedRow,
                    success: function (data) {
                        if (data == "") {
                            RefreshGrid();
                        }
                        else {
                            alert(data);
                        }
                    }
                });
                return false;
            });

        });

        var index = 0;
        var CurrentPage = 0;
        var CurrentPageSize = 0;
        function GetRowNumber() {
            return ++index;
        }

        function onDataBound() {
            for (var i = 0; i < this.columns.length; i++) {
                this.autoFitColumn(i);
            }
        }

        function onDataBinding() {
            var Grid = $("#Grid").data("kendoGrid");
            CurrentPage = Grid.dataSource.page();
            CurrentPageSize = Grid.dataSource.pageSize();
            index = ((CurrentPage - 1) * CurrentPageSize);
        }

        function onChange(e) {
            var Grid = e.sender;
            SelectedRow = $.map(this.select(), function (item) {
                return Grid.dataItem(item).Id;
            });
        }

    </script>
}
<div class="pageheader">
    <div class="pageicon"><span class="fa fa-users"></span></div>
    <div class="pagetitle">
        <h1>People</h1>
        <h5>Daftar People</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <form asp-action="ImportExcel" method="post">
                @if (ViewBag.ErrorPeople != null)
                {
                    <div class="panel panel-danger">
                        <header class="panel-heading">
                            <h4 class="panel-title">Daftar data yang gagal diimport</h4>
                        </header>
                        <div class="panel-body">
                            <table class="table">
                                <tr><th>Nomor Telepon</th><th>Nama</th><th>Nama Aplikasi</th><th>Nomor ID</th></tr>
                                @foreach (People row in ViewBag.ErrorPeople as List<People>)
                                {
                                    <tr><td>@row.PhoneNumber</td><td>@row.Name</td><td>@row.ApplicationName</td><td>@row.IDNumber</td></tr>
                                }
                            </table>
                        </div>
                    </div><!-- .widget -->
                }
                <div class="form-group form-group-default">
                    @Html.Label("Import Excel File")
                    @(Html.Kendo().Upload()
                                        .Name("file")
                                        .Validation(validation => validation.AllowedExtensions(new string[] { ".xls", ".xlsx" }))
                    )
                    <button type="submit" class="btn btn-success">Submit</button>

                </div>
            </form>
            <button href="/People/Create" class="btn btn-success" id="GridButtonCreate"><i class="fa fa-plus-circle"></i> Create</button>
            <button href="/People/Edit" class="btn btn-success" id="GridButtonEdit"><i class="fa fa-pencil"></i> Edit</button>
            <button href="/People/Delete" class="btn btn-success" id="GridButtonDelete"><i class="fa fa-trash"></i> Delete</button>
            <button href="/People/ViewFiles" class="btn btn-success" id="GridButtonView"><i class="fa fa-eye"></i> View Files</button>
            <div>
                @(Html.Kendo().Grid<People>()
                      .Name("Grid")
                      .Columns(columns =>
                      {
                          //columns.Bound(e => e.Id).Title("No").ClientTemplate("#= GetRowNumber() #").Width(35).Filterable(false).Sortable(false);
                          columns.Bound(e => e.PhoneNumber);
                          columns.Bound(e => e.Name);
                          columns.Bound(e => e.ApplicationName);
                          columns.Bound(e => e.IDNumber);
                          columns.Bound(e => e.Log);
                          columns.Bound(e => e.LogDescription);
                          columns.Bound(e => e.LogUpdateTime);
                          columns.Bound(e => e.DateReminder);
                          columns.Bound(e => e.DateOverdue);
                          columns.Bound(e => e.DateRequested);
                          columns.Bound(e => e.Notes);
                          columns.Bound(e => e.Planning);
                          columns.Bound(e => e.TotalAmount);
                          columns.Bound(e => e.TotalReturn);
                      })
                      .ToolBar(tools => tools.Excel())
                      .DataSource(binding => binding
                          .Ajax()
                          .Model(model => model.Id(m => m.Id))
                          .Read("Select", "People")
                          .PageSize(50)
                      //.Group(x => x.Add(b => b.ParentCategoriesName))
                      )
                      .Excel(excel => excel
                          .FileName("Report People.xlsx")
                          .Filterable(true)
                          .ProxyURL(Url.Action("ExportExcel", "People"))
                      )
                      .Pageable()
                      .Editable(m => m.Enabled(false))
                      .Resizable(m => m.Columns(true))
                      .Sortable()
                      .ClientDetailTemplateId("template")
                      .Filterable(filterable => filterable
                          .Extra(false)
                          .Operators(operators => operators
                              .ForString(str => str.Clear()
                                  .Contains(Utility.GridFilter["Contains"])
                                  .DoesNotContain(Utility.GridFilter["DoesNotContain"])
                                  .IsEqualTo(Utility.GridFilter["IsEqualTo"])
                                  .IsNotEqualTo(Utility.GridFilter["IsNotEqualTo"])
                                  .StartsWith(Utility.GridFilter["StartsWith"])
                                  .EndsWith(Utility.GridFilter["EndsWith"])
                              ))
                      )
                      .Scrollable(m => m.Height(700))
                      .Selectable(selectable => selectable
                          .Mode(GridSelectionMode.Multiple)
                          .Type(GridSelectionType.Row))
                      .Events(events => events
                          .DataBound("onDataBound")
                          .DataBinding("onDataBinding")
                          .Change("onChange")
                      )
                )

                <script id="template" type="text/kendo-tmpl">
                    @(Html.Kendo().Grid<FileViewModel>()
                                          .Name("grid_#=Id#")
                                          .Columns(columns =>
                                          {
                                              columns.Bound(e => e.Button).Encoded(false).Title("Action").Width(100);
                                              columns.Bound(e => e.FileName).Width(300);
                                              columns.Bound(e => e.FileType).Width(200);
                                              columns.Bound(e => e.FileSize).Width(300);
                                          })
                                          .DataSource(binding => binding
                                              .Ajax()
                                              .Model(model => model.Id(m => m.Id))
                                              .Read("SelectFiles", "People", new { PeopleId = "#=Id#" })
                                          )
                                          .Pageable()
                                          .Sortable()
                                          .ToClientTemplate()
                    )
                </script>
            </div>
        </div><!--row-fluid-->
    </div><!--maincontentinner-->
</div><!--maincontent-->
