﻿@{
    ViewBag.Title = "Melihat People File";
}

@model PeopleAndFileViewModel

<script>
    function onUpload(e) {
        e.data =
        {
            PeopleId: $("#PeopleId").val()
        };
    }

    $("body").delegate("#GridButtonBack", "click", function () {
        var url = $(this).attr("href");
        window.location.href = url;
        return false;
    });
</script>

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-users"></span></div>
    <div class="pagetitle">
        <h1>People</h1>
        <h5>View People Files</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        @*<div class="row col-md-12">
            <button href="/People/Index" class="btn btn-danger" id="GridButtonBack"><i class="fa fa-angle-left"></i> Back</button>
        </div>*@
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">People Info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <p>Name = @Model.People.Name</p>
                            <p>Application Name = @Model.People.ApplicationName</p>
                            <p>ID Number = @Model.People.IDNumber</p>
                            <p>Phone Number = @Model.People.PhoneNumber</p>
                            <p>Notes = @Model.People.Notes</p>
                            <p>Log = @Model.People.Log</p>
                            <p>Log Description = @Model.People.LogDescription</p>
                            <p>Log Update Time = @Model.People.LogUpdateTime</p>
                        </div>
                        <div class="col-md-6">
                            <p>Date Overdue = @Model.People.DateOverdue</p>
                            <p>Date Reminder = @Model.People.DateReminder</p>
                            <p>Date Requested = @Model.People.DateRequested</p>
                            <p>Planning = @Model.People.Planning</p>
                            <p>Total Amount = @Model.People.TotalAmount</p>
                            <p>Total Return = @Model.People.TotalReturn</p>
                            <p>Payment Link = @Model.People.PaymentLink</p>
                            <p>@*Name = @Model.People.*@</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="UploadFile" method="post">
            <div class="form-group form-group-default">
                @Html.Hidden("PeopleId", Model.People.Id)
                @Html.Label("Upload File")
                @(Html.Kendo().Upload()
                      .Name("file")
                      .Events(events => events
                          .Upload("onUpload")
                      )
                      )
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">Daftar File</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="list-group">
                                @foreach (var row in Model.Files)
                                {
                                    <a href="@row.DownloadPath" class="list-group-item">@row.FileName</a>
                                }
                            </div >
                            <!-- Image Gallery -->
                            <div class="gallery row">
                                @foreach (var row in Model.Files.Where(x => x.FileType.Contains("image")).ToList())
                                {
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <div class="gallery-item">
                                            <div class="thumb">
                                                <a href="@row.DownloadPath" data-lightbox="gallery-2" data-title="@row.FileName">
                                                    <img class="img-responsive" src="@row.DownloadPath" alt="">
                                                </a>
                                            </div>
                                            <div class="caption">@row.FileName</div>
                                        </div>
                                    </div>
                                }
                            </div><!-- END .gallery -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>