﻿@using DataCollection.ViewModels
@using DataCollection.Models
@using System.Collections

@{
    List<OptionViewModel> listOption = ViewBag.listOption;
    Lookup Lookup = new Lookup();
}
<div class="k-header k-grid-toolbar" style="background-color:#3b3e47;">
    @*@if (ViewBag.enable_filter)
    {
        <a id="GridButtonSearch" href="#" class="k-button k-button-icontext"><span class="k-icon k-i-search"></span></a>
    }*@
    @if (ViewBag.Create)
    {
        <a style="margin-left:20px;" id="GridButtonCreate" href="@Url.Content("~/" + ViewBag.controller + "/Create")" class="k-button k-button-icontext"><span class="fa fa-plus"></span>   Add</a>
    }
    @*@if (ViewBag.Read)
    {
        <a id="GridButtonView" href="@Url.Content("~/" + ViewBag.controller + "/View")" class="k-button k-button-icontext"><span class="k-icon k-i-calendar"></span>View Only</a>
    }*@
    @if (ViewBag.Update)
    {
        <a id="GridButtonEdit" href="@Url.Content("~/" + ViewBag.controller + "/Edit")" class="k-button k-button-icontext"><span class="fa fa-pencil"></span> Edit</a>
    }
    @if (ViewBag.Delete)
    {
        <a id="GridButtonDelete" href="@Url.Content("~/" + ViewBag.controller + "/Delete")" class="k-button k-button-icontext"><span class="fa fa-trash"></span> Delete</a>
    }
    @if (ViewBag.Report)
    {
        <a id="GridButtonReport" href="@Url.Content("~/" + ViewBag.controller + "/Report")" class="k-button k-button-icontext"><span class="fa fa-book"></span> Report</a>
    }
    @if (ViewBag.Done)
    {
        <a id="GridButtonDone" href="@Url.Content("~/" + ViewBag.controller + "/Done")" class="k-button k-button-icontext"><span class="fa fa-check-square-o"></span> Done</a>
    }
    @*@if (ViewBag.enable_selectall)
    {
        <a id="GridButtonSelectAll" href="#" class="k-button k-button-icontext" style="margin-left: 20px;"><span class="k-icon k-i-tick"></span>Select All</a>
        <a id="GridButtonDeselectAll" href="#" class="k-button k-button-icontext"><span class="k-icon k-i-minimize"></span>Deselect All</a>
    }*@
</div>

@*<div id="filter_panel" class="k-toolbar">
    <span class="filter_title">Quick search</span>
    <select id="filter_column" name="filter_column" class="filter_column">
        @foreach (OptionViewModel option in listOption)
        {
            <option value="@option.value" rel="@option.dataType">@option.text</option>
        }
    </select>
    <span class="toolbarGrid">
        <span id="span_text" style="display: none">
            <input type="text" id="filter_value" name="filter_value_date" style="width: 300px" /></span>
        <span id="span_num" style="display: none">
            <input type="text" id="filter_value_num" name="filter_value_num" style="width: 300px" /></span>
        <span id="span_date" style="display: none">
            <input type="text" id="filter_value_date" name="filter_value" style="width: 300px" /></span>
    </span>
    <span>
        <button id="filter_submit" class="k-button">Filter</button>
        <button id="filter_reset" class="k-button">Clear</button>
    </span>
</div>*@