﻿@{
    ViewBag.Title = "Menambahkan Kasbon";
}

@model Kasbon

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-bank"></span></div>
    <div class="pagetitle">
        <h1>Kasbon</h1>
        <h5>Menambah Kasbon</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="widget">
                <h4 class="widgettitle">Menambah Kasbon</h4>
                <div class="widgetcontent">
                    @using (Html.BeginForm("Create", "Kasbon", FormMethod.Post, new { id = "DialogForm", @class = "stdform" }))
                    {
                        if (ViewBag.EnableErrorSummary == true)
                        {
                            <div class="panel panel-danger">
                                <header class="panel-heading">
                                    <h4 class="panel-title">Daftar Error</h4>
                                </header>
                                <div class="panel-body">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div><!-- .widget -->
                        }
                        
                        <p>
                            <label>Nama PIC</label>
                            <span class="field">@Html.Kendo().DropDownListFor(x => x.NamaPIC).BindTo(ViewBag.NamaPIC)</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Tanggal Pengajuan</label>
                            <span class="field">@Html.Kendo().DatePickerFor(x => x.TanggalPengajuan).Value(DateTime.Now)</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Nominal</label>
                            <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.Nominal).Format("#").Value(0).HtmlAttributes(new { @placeholder = "Nominal Kasbon" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Alasan</label>
                            <span class="field">@Html.TextBoxFor(x => x.Alasan, new { @class = "form-control", @placeholder = "Alasan" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        @if (User.IsInRole("Admin"))
                        {
                            <p>
                                <label>Persetujuan</label>
                                <span class="field">
                                    @Html.CheckBoxFor(model => model.IsDone, new { @class = "form-control", @style = "width:2%;" })
                                </span>
                            </p>    
                             <p>
                                 <label>Pencairan</label>
                                 <span class="field">@Html.Kendo().DropDownListFor(x => x.Pencairan).BindTo(ViewBag.TipePembayaran)</span>
                             </p>
                             <p>
                                 <label>Tanggal Pencairan</label>
                                 <span class="field">@Html.Kendo().DatePickerFor(x => x.TanggalPencairan)</span>
                             </p>
                        }
                        <p class="stdformbutton">
                            <button class="btn btn-success" onclick="Create()">Simpan</button>
                            <a class="btn btn-danger" onclick="location.href='/Kasbon/Index'; return false;">Kembali</a>
                        </p>
                    }
                </div><!--widgetcontent-->
            </div><!--widget-->
        </div>
    </div>
</div>