﻿@{
    ViewData["Title"] = "Daftar Kasbon";
}

@section Footer {
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
    <script type="text/javascript">
        var SelectedRow = "";
        var State = "create";
        var Dialog;

        function RefreshGrid() {
            var Grid = $('#Grid').data('kendoGrid');
            Grid.dataSource.read();
            SelectedRow = "";
            return false;
        }
        

        $(document).ready(function () {
            Dialog = $("<div id='window' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                width: "100%",
                height: "100%"
            }).data("kendoWindow");

            Dialog_2 = $("<div id='window_2' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                open: function (e) {
                    this.wrapper.css({ top: 50, left: 50 });
                }
            }).data("kendoWindow");

            $("body").delegate("#GridButtonCreate", "click", function () {
                var url = $(this).attr("href");
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonEdit", "click", function () {
                if (SelectedRow.length != 1) {
                    alert("Pilih satu data saja!");
                    return false;
                }
                var url = $(this).attr("href") + "/" + SelectedRow;
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonView", "click", function () {
                if (SelectedRow.length != 1) {
                    alert("Pilih satu data saja!");
                    return false;
                }
                var url = $(this).attr("href") + "/" + SelectedRow;
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonDelete", "click", function () {
                if (SelectedRow.length == 0) {
                    alert("Pilih minimal satu data!");
                    return false;
                }
                if (!confirm("Anda yakin ingin menghapus " + SelectedRow.length + " data ini?")) {
                    return false;
                }
                $.ajax({
                    type: 'POST',
                    url: $(this).attr("href") + "/" + SelectedRow,
                    success: function (data) {
                        if (data == "") {
                            RefreshGrid();
                        }
                        else {
                            alert(data);
                        }
                    }
                });
                return false;
            });

        });

        var index = 0;
        var CurrentPage = 0;
        var CurrentPageSize = 0;
        function GetRowNumber() {
            return ++index;
        }

        function onDataBound() {
            for (var i = 0; i < this.columns.length; i++) {
                this.autoFitColumn(i);
            }
        }

        function onDataBinding() {
            var Grid = $("#Grid").data("kendoGrid");
            CurrentPage = Grid.dataSource.page();
            CurrentPageSize = Grid.dataSource.pageSize();
            index = ((CurrentPage - 1) * CurrentPageSize);
        }

        function onChange(e) {
            var Grid = e.sender;
            SelectedRow = $.map(this.select(), function (item) {
                return Grid.dataItem(item).Id;
            });
        }

    </script>
}
<div class="pageheader">
    <div class="pageicon"><span class="fa fa-bank"></span></div>
    <div class="pagetitle">
        <h1>Kasbon</h1>
        <h5>Daftar Kasbon</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            @if (ViewBag.EnableErrorSummary == true)
            {
                <div class="panel panel-danger">
                    <header class="panel-heading">
                        <h4 class="panel-title">Daftar Error</h4>
                    </header>
                    <div class="panel-body">
                        <p>@ViewBag.ErrorText</p>
                    </div>
                </div>
            }
            <button href="/Kasbon/Create" class="btn btn-success" id="GridButtonCreate"><i class="fa fa-plus-circle"></i> Create</button>
            <button href="/Kasbon/Edit" class="btn btn-warning" id="GridButtonEdit"><i class="fa fa-pencil"></i> Edit</button>
            <button href="/Kasbon/Delete" class="btn btn-danger" id="GridButtonDelete"><i class="fa fa-trash"></i> Delete</button>
            <div>
                @(Html.Kendo().Grid<Kasbon>()
                              .Name("Grid")
                              .Columns(columns =>
                              {
                                  //columns.Bound(e => e.Id).Title("No").ClientTemplate("#= GetRowNumber() #").Width(35).Filterable(false).Sortable(false);
                                  columns.Bound(e => e.NamaPIC);
                                  columns.Bound(e => e.TanggalPengajuan);
                                  columns.Bound(e => e.Nominal);
                                  columns.Bound(e => e.Alasan);
                                  columns.Bound(e => e.IsDone).ClientTemplate("#: IsDone ? 'Yes' : 'No' #");
                                  columns.Bound(e => e.Pencairan);
                                  columns.Bound(e => e.TanggalPencairan);
                                  columns.Bound(e => e.CreatedTime);
                                  columns.Bound(e => e.CreatedBy_Name);
                                  columns.Bound(e => e.UpdatedTime);
                                  columns.Bound(e => e.UpdatedBy_Name);
                              })
                              .DataSource(binding => binding
                                  .Ajax()
                                  .Model(model => model.Id(m => m.Id))
                                  .Read("Select", "Kasbon")
                                  .PageSize(50)
                              )
                              .Groupable()
                              .Pageable()
                              .Editable(editable => editable.Enabled(false))
                              .Resizable(m => m.Columns(true))
                              .Sortable()
                              .Filterable(filterable => filterable
                                  .Extra(false)
                                  .Operators(operators => operators
                                      .ForString(str => str.Clear()
                                          .Contains(Utility.GridFilter["Contains"])
                                          .DoesNotContain(Utility.GridFilter["DoesNotContain"])
                                          .IsEqualTo(Utility.GridFilter["IsEqualTo"])
                                          .IsNotEqualTo(Utility.GridFilter["IsNotEqualTo"])
                                          .StartsWith(Utility.GridFilter["StartsWith"])
                                          .EndsWith(Utility.GridFilter["EndsWith"])
                                      ))
                              )
                              .Scrollable(m => m.Height(700))
                              .Selectable(selectable => selectable
                                  .Mode(GridSelectionMode.Multiple)
                                  .Type(GridSelectionType.Row))
                              .Events(events => events
                                  .DataBound("onDataBound")
                                  .DataBinding("onDataBinding")
                                  .Change("onChange")
                              )
                )
            </div>
        </div><!--row-fluid-->
    </div><!--maincontentinner-->
</div><!--maincontent-->
