﻿@{
    ViewBag.Title = "Mengubah Password";
}

@model ChangePasswordViewModel

@section Footer{

}

<script>
    $(function () {
        $("DialogForm").kendoValidator();
    });



</script>

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-key"></span></div>
    <div class="pagetitle">
        <h5>Mengubah Password</h5>
        <h1>Password</h1>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="widget">
                <h4 class="widgettitle">Mengubah Password</h4>
                <div class="widgetcontent">
                    @*@using (Html.BeginForm(new { id = "DialogForm", @class = "stdform"}))*@
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "DialogForm", @class = "stdform" }))
                    {
                        @if (ViewBag.EnableErrorSummary == true)
                        {
                            <div class="panel panel-danger">
                                <header class="panel-heading">
                                    <h4 class="panel-title">Daftar Error</h4>
                                </header>
                                <div class="panel-body">
                                    @*<div asp-validation-summary="All"></div>*@
                                    <div><p> Maaf Password anda gagal diperbaharui </p></div>
                                </div>
                            </div><!-- .widget -->
                        }
                        @if (ViewBag.Success == true)
                        {
                            <div class="panel panel-success">
                                <header class="panel-heading">
                                    <h4 class="panel-title">Success</h4>
                                </header>
                                <div class="panel-body">
                                    <p>Selamat Password anda berhasil diganti</p>
                                </div>
                            </div><!-- .widget -->
                        }
                        //<div class="panel panel-warning">
                        //<header class="panel-heading">
                        //<h4 class="panel-title">Maaf</h4>
                        //</header>
                        //<div class="panel-body">
                        //<p>Pada versi Demo, fitur Change Password akan dimatikan. Terima Kasih</p>
                        //</div>
                        //</div><!-- .widget -->
                        <p>
                            <label>Password Sekarang</label>
                            <span class="field">@Html.Kendo().TextBoxFor(x => x.CurrentPassword).HtmlAttributes(new { @class = "form-control", type = "password" })</span>
                        </p>
                        <p>
                            <label>Password Baru</label>
                            <span class="field">@Html.Kendo().TextBoxFor(x => x.NewPassword).HtmlAttributes(new { @class = "form-control", type = "password" })</span>
                        </p>
                        <p>
                            <label>Konfirmasi Password</label>
                            <span class="field">@Html.Kendo().TextBoxFor(x => x.NewPasswordConfirm).HtmlAttributes(new { @class = "form-control", type = "password" })</span>
                        </p>
                        <p class="stdformbutton">
                            <button class="btn btn-success">Simpan</button>
                        </p>
                    }
                </div><!--widgetcontent-->
            </div><!--widget-->
        </div>
    </div>
</div>
