﻿@model DbUser
@{
    ViewBag.Title = "Create User";
}

@section Footer {
    <script type="text/javascript">
        $("body").delegate("#BtnBack", "click", function () {
            var url = $(this).attr("href");
            window.location.href = url;
            return false;
        });

    </script>
}

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-user"></span></div>
    <div class="pagetitle">
        <h1>User Account</h1>
        <h5>Menambahkan User</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="widget">
                <h4 class="widgettitle">Menambah User</h4>
                <div class="widgetcontent">
                    @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { id = "DialogForm", @class = "stdform" }))
                    {
                        @if (ViewBag.EnableErrorSummary == true)
                        {
                            <div class="panel panel-danger">
                                <header class="panel-heading">
                                    <h4 class="panel-title">Daftar Error</h4>
                                </header>
                                <div class="panel-body">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div><!-- .widget -->
                        }
                        <p>
                            <label>Username</label>
                            <span class="field">@Html.TextBoxFor(x => x.UserName, "", new { @class = "form-control" })</span>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </p>
                        <p>
                            <label>Password</label>
                            <span class="field">@Html.TextBox("Password", "", new { @class = "form-control", @type = "password" })</span>
                        </p>
                        <p>
                            <label>Nama</label>
                            <span class="field">@Html.TextBoxFor(x => x.Name, "", new { @class = "form-control" })</span>
                        </p>
                        <p>
                            <label>Email</label>
                            <span class="field">@Html.TextBoxFor(x => x.Email, "", new { @class = "form-control" })</span>
                        </p>
                        <p>
                            <label>Admin Role</label>
                            <span class="field">
                                @Html.CheckBoxFor(model => model.IsAdmin, new { @class = "form-control", @style = "width:2%;" })
                            </span>
                        </p>
                        <p class="stdformbutton">
                            <button class="btn btn-success" onclick="Submit()">Simpan</button>
                            <a class="btn btn-danger" onclick="location.href='Index'; return false;">Kembali</a>
                        </p>
                    }
                </div><!--widgetcontent-->
            </div><!--widget-->
        </div>
    </div>
</div>
