﻿@model DataCollection.ViewModels.ApplicationUser
@{
    ViewBag.Title = "Edit User";
}

@section Footer {
    <script type="text/javascript">
        $("body").delegate("#BtnBack", "click", function () {
                var url = $(this).attr("href");
                window.location.href = url;
                return false;
            });
    </script>
}

<h1>Edit User</h1>

@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    @if (ViewBag.EnableErrorSummary == true)
    {
        <div class="panel panel-danger">
            <header class="panel-heading">
                <h4 class="panel-title">Daftar Error</h4>
            </header>
            <div class="panel-body">
                <div asp-validation-summary="All"></div>
            </div>
        </div><!-- .widget -->
    }
    <div class="form-group">
        @Html.LabelFor(x => x.UserName)
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @readonly = "readonly" })
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.Label("Password")
        @Html.TextBox("Password", "", new { @class = "form-control", @type = "password" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    @*<div class="form-group form-group-default" ">
        @Html.LabelFor(model => model.IsActive)
        <br />
        @Html.CheckBoxFor(model => model.IsActive, new { @data_init_plugin = "switchery", @data_size = "medium", data_color = "primary" })
    </div>*@
    <div class="form-group form-group-default">
        @Html.LabelFor(model => model.IsAdmin)
        <br />
        @Html.CheckBoxFor(model => model.IsAdmin, new { @data_init_plugin = "switchery", @data_size = "medium", data_color = "primary" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Edit User</button>
        <button href="/Account/Index" class="btn btn-primary" id="BtnBack">Back</button>
    </div>
}
