@{
    ViewData["Title"] = "Daftar User";
}

@section Footer {
    <script type="text/javascript">
        var SelectedRow = "";
        var State = "create";
        var Dialog;

        function RefreshGrid() {
            var Grid = $('#Grid').data('kendoGrid');
            Grid.dataSource.read();
            SelectedRow = "";
            return false;
        }

        $(document).ready(function () {
            Dialog = $("<div id='window' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                width: "100%",
                height: "100%"
            }).data("kendoWindow");

            Dialog_2 = $("<div id='window_2' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                open: function (e) {
                    this.wrapper.css({ top: 50, left: 50 });
                }
            }).data("kendoWindow");

            $("body").delegate("#GridButtonCreate", "click", function () {
                var url = $(this).attr("href");
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonEdit", "click", function () {
                if (SelectedRow.length == 0) {
                    alert("Pilih minimal satu data!");
                    return false;
                }
                if (!confirm("Anda yakin ingin mereset " + SelectedRow.length + " data ini?")) {
                    return false;
                }
                $.ajax({
                    type: 'POST',
                    url: $(this).attr("href") + "?UserName=" + SelectedRow,
                    success: function (data) {
                        alert(data);
                        RefreshGrid();
                    }
                });
                return false;
            });

            $("body").delegate("#GridButtonPrivilege", "click", function () {
                if (SelectedRow.length != 1) {
                    alert("Pilih satu data saja!");
                    return false;
                }
                var url = $(this).attr("href") + "?UserName=" + SelectedRow;
                window.location.href = url;
                return false;
            });

            $("body").delegate("#GridButtonDelete", "click", function () {
                if (SelectedRow.length == 0) {
                    alert("Pilih minimal satu data!");
                    return false;
                }
                if (!confirm("Anda yakin ingin menghapus " + SelectedRow.length + " data ini?")) {
                    return false;
                }
                $.ajax({
                    type: 'POST',
                    url: $(this).attr("href") + "?UserName=" + SelectedRow,
                    success: function (data) {
                        if (data == "") {
                            RefreshGrid();
                        }
                        else {
                            alert(data);
                        }
                    }
                });
                return false;
            });

        });

        var index = 0;
        var CurrentPage = 0 ;
        var CurrentPageSize = 0;
        function GetRowNumber() {
            return ++index;
        }

        function onDataBinding() {
            var Grid = $("#Grid").data("kendoGrid");
            CurrentPage = Grid.dataSource.page();
            CurrentPageSize = Grid.dataSource.pageSize();
            index = ((CurrentPage - 1) * CurrentPageSize);
        }

        function onChange(e) {
            var Grid = e.sender;
            SelectedRow = $.map(this.select(), function (item) {
                return Grid.dataItem(item).UserName;
            });
        }

    </script>
}

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-user"></span></div>
    <div class="pagetitle">
        <h1>User Account</h1>
        <h5>Daftar User</h5>
    </div>
</div><!--pageheader-->

<div>
    <div>
        <button href="/Account/Create" class="btn btn-success" id="GridButtonCreate"><i class="fa fa-plus-circle"></i> Create</button>
        <button href="/Account/Reset" class="btn btn-warning" id="GridButtonEdit"><i class="fa fa-recycle"></i> Reset</button>
        <button href="/Account/Delete" class="btn btn-danger" id="GridButtonDelete"><i class="fa fa-close"></i> Delete</button>
    </div>
    @(Html.Kendo().Grid<DbUser>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(e => e.UserName).Width(120);
            columns.Bound(e => e.Name).Width(150);
            columns.Bound(e => e.Email).Width(150);
            columns.Bound(e => e.IsAdmin).Title("Admin Role").Width(150);
        })
        .DataSource(binding => binding
            .Ajax()
            .Model(model => model.Id(m => m.UserName))
            .Read("Select", "Account")
            .PageSize(100)
        )
        .Editable(m => m.Enabled(false))
        .Resizable(m => m.Columns(true))
        .Sortable()
        .Filterable(filterable => filterable
            .Extra(false)
            .Operators(operators => operators
                .ForString(str => str.Clear()
                    .Contains("Contain")
                ))
        )
        .Pageable()
        .Scrollable(m => m.Height(700))
        .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple)
            .Type(GridSelectionType.Row))
        .Events(events => events
            .DataBinding("onDataBinding")
            .Change("onChange")
        )
    )
</div>
