﻿@model DataCollection.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Service Centre";
    Layout = null;
}

@section Footer {
    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Login/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Login/assets/css/style.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Login/assets/plugins/jquery/jquery-1.9.1.min.js")"></script>
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="@Url.Content("~/Login/assets/js/apps.min.js")"></script>
</head>
<body class="pace-top bg-white">

    <!-- begin #page-container -->
    <div id="page-container">
        <!-- begin login -->
        <div class="login login-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                @*<img style="height: 50px;
z-index: 99999;
min-width: 120px;
position: absolute;
margin: 15px 0px 0px 20px;"
src="~/images/logo.png" />*@
                <div class="news-image">
                    <img src="~/images/logo-loginb.jpg" data-id="login-cover-image" alt="" />
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div style="width: 500px;">

                <!-- begin login-header -->

                <div class="login-header" style="margin-bottom: 60px">
                    <div class="brand" style="float: left;">
                        <img style="height:50px;z-index:9999;z-index:99999; margin-right:10px;" src="@Url.Content("~/images/photos/a.png")" />
                    </div>
                    <div style="float: left; position: absolute; font-size: 26px; margin: -5px 0px -5px 57px; color: #008a8a">Service Centre</div>
                    <div style="position: absolute; margin: 33px 0px 0px 60px; font-size: 15px">Aplikasi Service Centre</div>
                </div>

                <!-- end login-header -->
                <!-- begin login-content -->
                <div class="login-content">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "DialogForm", @class = "margin-bottom-0" }))
                    {
                        <div asp-validation-summary="All"></div>
                        <div class="form-group m-b-15">
                            @*<input type="text" class="form-control input-lg" placeholder="NPP" name="Username" id="username" />*@
                            <input asp-for="Username" class="form-control input-lg" placeholder="Username" />
                            <span asp-validation-for="Username"></span>
                        </div>

                        <div class="form-group m-b-15">
                            <input type="password" asp-for="Password" class="form-control input-lg" placeholder="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>

                        <div class="login-buttons">
                            <button type="submit" class="btn btn-success btn-block btn-lg" id="SubmitButton">Sign me in</button>
                            <br />
                        </div>
                        <hr />

                        @*<p class="text-center text-inverse">
                            Created By  &copy; Louis Vernando
                        </p>*@

                    }
                </div>
                <!-- end login-content -->
            </div>
            <!-- end right-container -->
        </div>
        <!-- end login -->
    </div>
    <!-- end page container -->

    @*<div id="ErrorSummary" class="ErrorSummary" style="color: Red; text-align: center;">@Html.Raw(ViewBag.ErrorMessage)</div>*@
</body>
</html>