﻿@model DataCollection.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Inventory Applications";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    Layout = null;
}

@section Footer {
    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/ColorAdmin/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ColorAdmin/assets/css/style.min.css")" rel="stylesheet" type="text/css" />
    <link rel="favicon" type="image/x-icon" href="@Url.Content("~/Content/bni.ico")" />

    <script src="@Url.Content("~/Content/ColorAdmin/assets/plugins/jquery/jquery-1.9.1.min.js")"></script>
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="@Url.Content("~/Content/ColorAdmin/assets/js/apps.min.js")"></script>
</head>
<body class="pace-top bg-white">

    <!-- begin #page-container -->
    <div id="page-container">
        <!-- begin login -->
        <div class="login login-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <img style="height: 50px;
z-index: 99999;
min-width: 120px;
position: absolute;
margin: 15px 0px 0px 20px;"
                                src="@Url.Content("~/Content/BNIblack.png")" />
                <div class="news-image">

                    <img src="@Url.Content("~/Content/ColorAdmin/assets/img/login-bg/bg-7.jpg")" data-id="login-cover-image" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="fa fa-diamond text-success"></i>Otomasi Perintah Buku Kredit</h4>
                    <p>
                        Gunakan Npp untuk menginput username, pastikan anda telah memiliki password webmail untuk menginput password OPBK anda.
                    </p>
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div style="width: 500px;">

                <!-- begin login-header -->

                <div class="login-header" style="margin-bottom: 60px">
                    <div class="brand" style="float: left;">
                        <img style="height:50px;z-index:9999;z-index:99999;" src="@Url.Content("~/Content/user-1.png")" />
                    </div>
                    <div style="float: left; position: absolute; font-size: 45px; margin: -15px 0px -5px 57px; color: #008a8a">OPBK</div>
                    <div style="position: absolute; margin: 33px 0px 0px 60px; font-size: 15px">Otomasi Perintah Buku Kredit</div>
                </div>

                <!-- end login-header -->
                <!-- begin login-content -->
                <div class="login-content">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "DialogForm", @class = "margin-bottom-0" }))
                    {

                        <div class="form-group m-b-15">
                            @*<input type="text" class="form-control input-lg" placeholder="NPP" name="Username" id="username" />*@
                            <input asp-for="Username" class="form-control input-lg" placeholder="Username" />
                            <span asp-validation-for="Username"></span>
                        </div>

                        <div class="form-group m-b-15">
                            <input type="password" asp-for="Password" class="form-control input-lg" placeholder="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>

                        @*<div class="checkbox m-b-30">
                            <label>
                                <input type="checkbox" />
                                Remember Me
                            </label>
                        </div>*@

                        <div class="login-buttons">
                            <button type="submit" class="btn btn-success btn-block btn-lg" id="SubmitButton">Sign me in</button>
                            <br />
                            @*<label style="color: #ac0000; margin-left: 60px">
                                @Html.Raw(ViewBag.ErrorMessage)
                            </label>*@
                        </div>
                        <div class="login-buttons">
                            <a asp-controller="Account" asp-action="Register" class="btn btn-primary btn-block btn-lg">Register</a>
                            <br />
                        </div>

                        <hr />

                        <p class="text-center text-inverse">
                            Copyright &copy; Louis Vernando - 2017
                        </p>

                    }
                </div>
                <!-- end login-content -->
            </div>
            <!-- end right-container -->
        </div>
        <!-- end login -->
    </div>
    <!-- end page container -->

    @*<div id="ErrorSummary" class="ErrorSummary" style="color: Red; text-align: center;">@Html.Raw(ViewBag.ErrorMessage)</div>*@
</body>
</html>