﻿@{
    ViewBag.Title = "Mengubah Insentif";
}

@model Insentif

<script>

</script>

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-table"></span></div>
    <div class="pagetitle">
        <h1>Insentif</h1>
        <h5>Mengubah Insentif</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="widget">
                <h4 class="widgettitle">Mengubah Insentif</h4>
                <div class="widgetcontent">
                    @using (Html.BeginForm("Edit", "Insentif", FormMethod.Post, new { id = "DialogForm", @class = "stdform" }))
                    {
                        if (ViewBag.EnableErrorSummary == true)
                        {
                            <div class="panel panel-danger">
                                <header class="panel-heading">
                                    <h4 class="panel-title">Daftar Error</h4>
                                </header>
                                <div class="panel-body">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div><!-- .widget -->
                        }

                        @Html.HiddenFor(x => x.Id)
                        <p>
                            <label>Minimal Tagihan</label>
                            <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.MinimalTagihan).Format("#").Min(0).HtmlAttributes(new { @placeholder = "Minimal Tagihan" })</span>QQ
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Maksimal Tagihan</label>
                            <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.MaksimalTagihan).Format("#").Min(0).HtmlAttributes(new { @placeholder = "Maksimal Tagihan" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Maksimal Telat</label>
                            <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.MaksimalTelat).Format("#").Min(0).HtmlAttributes(new { @placeholder = "Nilai Insentif" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Nilai Insentif</label>
                            <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.NilaiInsentif).Format("#").Min(0).HtmlAttributes(new { @placeholder = "Nilai Insentif" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p class="stdformbutton">
                            <button class="btn btn-success" onclick="Create()">Simpan</button>
                            <a class="btn btn-danger" onclick="location.href='/Insentif/Index'; return false;">Kembali</a>
                        </p>
                    }
                </div><!--widgetcontent-->
            </div><!--widget-->
        </div>
    </div>
</div>