﻿@{
    ViewData["Title"] = "Laporan Insentif Bulanan";
}

@section Footer {
    <script type="text/javascript">
        function SubmitReport() {
            var date = kendo.toString($("#Date").data("kendoDatePicker").value(), "dd/MM/yyyy");
            var Url = '@Url.Content("~/Insentif/GetReport")' + "?Date=" +date;
            window.location.href = Url;
            return false;
        }
    </script>
}
<div class="pageheader">
    <div class="pageicon"><span class="fa fa-table"></span></div>
    <div class="pagetitle">
        <h1>Report</h1>
        <h5>Laporan Insentif Bulanan</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="row">
                @Html.Kendo().DatePicker().Name("Date").Start(CalendarView.Year).Depth(CalendarView.Year).Value(DateTime.Today)
                <button onclick="SubmitReport()">Submit</button>
            </div>
        </div><!--row-fluid-->
    </div><!--maincontentinner-->
</div><!--maincontent-->
