﻿@using DataCollection.Models
@using DataCollection.ViewModels
@using Microsoft.AspNetCore.Http.Extensions

@*@{
    string urlPath = Context.Request.GetDisplayUrl();
    string[] index = urlPath.Split('/');
    switch (index[0])
    {
        case "Home":
            @:$("#menu-home").addClass("active");
                        break;

    }
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Inventory Application" />
    <link rel="shortcut icon" sizes="196x196" href="~/images/logo.png">
    <title>@ViewData["Title"] - DataCollection</title>

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/Infinity/libs/bower/material-design-iconic-font/dist/css/material-design-iconic-font.css">
    <!-- build:css ../assets/css/app.min.css -->
    <link rel="stylesheet" href="~/Infinity/libs/bower/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/Infinity/libs/bower/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Infinity/libs/bower/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Infinity/libs/bower/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/Infinity/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Infinity/assets/css/core.css">
    <link rel="stylesheet" href="~/Infinity/assets/css/app.css">

    <link href="~/kendo/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/kendo/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="~/kendo/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/kendo/styles/kendo.dataviz.material.min.css" rel="stylesheet" type="text/css" />

    <!-- endbuild -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900">*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <script src="~/Infinity/libs/bower/breakpoints.js/dist/breakpoints.min.js"></script>

    <script src="~/Infinity/libs/bower/jquery/dist/jquery.js"></script>
    <script src="~/Infinity/libs/bower/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/kendo/js/kendo.all.min.js"></script>
    <script src="~/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/kendo/js/cultures/kendo.culture.id-ID.min.js"></script>

    <script>
        kendo.culture('id-ID');
    </script>

    <style>
        /* Start by setting display:none to make this hidden.
           Then we position it in relation to the viewport window
           with position:fixed. Width, height, top and left speak
           for themselves. Background we set to 80% white with
           our animation centered, and no-repeating */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url('../images/ajax-loader.gif') 50% 50% no-repeat;
        }

        /* When the body has the loading class, we turn
           the scrollbar off with overflow:hidden */
        body.loading {
            overflow: hidden;
        }

            /* Anytime the body has the loading class, our
           modal element will be visible */
            body.loading .modal {
                display: block;
            }
    </style>

    @RenderSection("Header", false)
</head>

<body class="menubar-left menubar-unfold menubar-light theme-success">
    <!--============= start main area -->
    <!-- APP NAVBAR ==========-->
    <nav id="app-navbar" class="navbar navbar-inverse navbar-fixed-top success">

        <!-- navbar header -->
        <div class="navbar-header">
            <button type="button" id="menubar-toggle-btn" class="navbar-toggle visible-xs-inline-block navbar-toggle-left hamburger hamburger--collapse js-hamburger">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>

            <button type="button" class="navbar-toggle navbar-toggle-right collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="zmdi zmdi-hc-lg zmdi-more"></span>
            </button>

            <button type="button" class="navbar-toggle navbar-toggle-right collapsed" data-toggle="collapse" data-target="#navbar-search" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="zmdi zmdi-hc-lg zmdi-search"></span>
            </button>

            <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                <span class="brand-icon"><i class="fa fa-cube"></i></span>
                <span class="brand-name">Inventory</span>
            </a>
        </div><!-- .navbar-header -->

        <div class="navbar-container container-fluid">
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-toolbar navbar-toolbar-left navbar-left">
                    <li class="hidden-float hidden-menubar-top">
                        <a href="javascript:void(0)" role="button" id="menubar-fold-btn" class="hamburger hamburger--arrowalt is-active js-hamburger">
                            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
                        </a>
                    </li>
                    <li>
                        <h5 class="page-title hidden-menubar-top hidden-float">@ViewBag.Title</h5>
                    </li>
                </ul>
            </div>
        </div><!-- navbar-container -->
    </nav>
    <!--========== END app navbar -->
    <!-- APP ASIDE ==========-->
    <aside id="menubar" class="menubar light">
        <div class="app-user">
            <div class="media">
                <div class="media-left">
                    <div class="avatar avatar-md avatar-circle">
                        <a href="javascript:void(0)"><img class="img-responsive" src="~/images/photos/thumb1.png" alt="avatar" /></a>
                    </div><!-- .avatar -->
                </div>
                <div class="media-body">
                    <div class="foldable">
                        <h5><a href="javascript:void(0)" class="username">@Context.User.Identity.Name</a></h5>
                        <ul>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle usertitle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <small>Administrator</small>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu animated flipInY">
                                    <li>
                                        <a class="text-color" asp-action="ChangePassword" asp-controller="Account">
                                            <span class="m-r-xs"><i class="fa fa-key"></i></span>
                                            <span>Change Password</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-color" asp-action="Logout" asp-controller="Account">
                                            <span class="m-r-xs"><i class="fa fa-power-off"></i></span>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- .media-body -->
            </div><!-- .media -->
        </div><!-- .app-user -->

        <div class="menubar-scroll">
            <div class="menubar-scroll-inner">
                <ul class="app-menu">

                    <li id="menu-home"><a asp-action="Index" asp-controller="Home"><span class="menu-icon fa fa-home"></span><span class="menu-text"> Home</span></a></li>
                    <li id="menu-lookup"><a asp-action="Index" asp-controller="Lookup"><span class="menu-icon fa fa-gear"></span><span class="menu-text"> Lookup</span></a></li>
                    <li><a asp-action="Index" asp-controller="Categories"><span class="menu-icon fa fa-folder"></span><span class="menu-text" id="menu-categories"> Kategori</span></a></li>
                    <li><a asp-action="Index" asp-controller="Suppliers"><span class="menu-icon fa fa-address-card-o"></span><span class="menu-text" id="menu-suppliers"> Suppliers</span></a></li>
                    <li><a asp-action="Index" asp-controller="Customers"><span class="menu-icon fa fa-users"></span><span class="menu-text" id="menu-customers"> Pelanggan</span></a></li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon fa fa-cubes"></i>
                            <span class="menu-text">Barang</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li><a asp-action="Index" asp-controller="Items"><span class="menu-icon fa fa-cubes"></span><span class="menu-text" id="menu-items"> Daftar Barang</span></a></li>
                            <li><a asp-action="StockBarang" asp-controller="Items"><span class="menu-icon fa fa-table"></span><span class="menu-text" id="menu-report-items"> Laporan Stock Barang</span></a></li>
                        </ul>
                    </li>
                    <li><a asp-action="Index" asp-controller="StockEntry"><span class="menu-icon fa fa-cart-plus"></span><span class="menu-text" id="menu-stockentry"> Pembelian</span></a></li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon fa fa-money"></i>
                            <span class="menu-text">Penjualan</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li><a asp-action="Index" asp-controller="Billing"><span class="menu-icon fa fa-money"></span><span class="menu-text" id="menu-billing"> Daftar Penjualan</span></a></li>
                            <li><a asp-action="Report" asp-controller="Billing"><span class="menu-icon fa fa-table"></span><span class="menu-text" id="menu-report-billing"> Tanda Terima Penjualan</span></a></li>
                        </ul>
                    </li>
                    <li><a asp-action="Index" asp-controller="Conversion"><span class="menu-icon fa fa-code-fork"></span><span class="menu-text" id="menu-conversion"> Konversi Barang</span></a></li>
                    <li><a asp-action="Index" asp-controller="KasKecil"><span class="menu-icon fa fa-bitcoin"></span><span class="menu-text" id="menu-kaskecil"> Kas Kecil</span></a></li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon fa fa-refresh"></i>
                            <span class="menu-text">Retur</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li><a asp-action="Index" asp-controller="ReturStockEntry"><span class="menu-icon fa fa-refresh"></span><span class="menu-text" id="menu-retur-stockentry"> Retur Pembelian</span> </a></li>
                            <li><a asp-action="Index" asp-controller="ReturPenjualan"><span class="menu-icon fa fa-refresh"></span><span class="menu-text" id="menu-retur-billing"> Retur Penjualan</span></a></li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon fa fa-rebel"></i>
                            <span class="menu-text">Hutang / Piutang</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li><a asp-action="Billing" asp-controller="Hutang"><span class="menu-icon fa fa-rebel"></span><span class="menu-text" id="menu-hutang-billing"> Piutang Penjualan</span> </a></li>
                            <li><a asp-action="StockEntry" asp-controller="Hutang"><span class="menu-icon fa fa-rebel"></span><span class="menu-text" id="menu-hutang-stockentry"> Utang Pembelian</span></a></li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon fa fa-bar-chart"></i>
                            <span class="menu-text">Laporan Laba</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li><a asp-action="Harian" asp-controller="Report"><span class="menu-icon fa fa-bar-chart"></span><span class="menu-text"> Harian</span></a></li>
                            <li><a asp-action="Bulanan" asp-controller="Report"><span class="menu-icon fa fa-bar-chart"></span><span class="menu-text"> Bulanan</span></a></li>
                            <li><a asp-action="Profit" asp-controller="Report"><span class="menu-icon fa fa-bar-chart"></span><span class="menu-text"> Keuntungan</span></a></li>
                        </ul>
                    </li>
                    <li class="menu-separator"><hr></li>
                </ul><!-- .app-menu -->
            </div><!-- .menubar-scroll-inner -->
        </div><!-- .menubar-scroll -->
    </aside>
    <!--========== END app aside -->
    <!-- navbar search -->
    <div id="navbar-search" class="navbar-search collapse">
        <div class="navbar-search-inner">
            <form action="#">
                <span class="search-icon"><i class="fa fa-search"></i></span>
                <input class="search-field" type="search" placeholder="search..." />
            </form>
            <button type="button" class="search-close" data-toggle="collapse" data-target="#navbar-search" aria-expanded="false">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="navbar-search-backdrop" data-toggle="collapse" data-target="#navbar-search" aria-expanded="false"></div>
    </div><!-- .navbar-search -->
    <!-- APP MAIN ==========-->
    <main id="app-main" class="app-main">
        <div class="wrap">
            <section class="app-content">
                <div class="row">
                    @*<div class="modal"><img src="~/images/ajax-loader.gif" alt="Loading... Please Wait" /><!-- Place at bottom of page --></div>*@
                    @RenderBody()
                </div>
            </section><!-- #dash-content -->
        </div><!-- .wrap -->
        <!-- APP FOOTER -->
        <div class="wrap p-t-0">
            <footer class="app-footer">
                <div class="clearfix">
                    <div class="copyright pull-left">Created by Louis Vernando&copy;</div>
                </div>
            </footer>
        </div>
        <!-- /#app-footer -->
    </main>
    <!--========== END app main -->
    <!-- APP CUSTOMIZER -->
    @*<div id="app-customizer" class="app-customizer">
        <a href="javascript:void(0)"
           class="app-customizer-toggle theme-color"
           data-toggle="class"
           data-class="open"
           data-active="false"
           data-target="#app-customizer">
            <i class="fa fa-gear"></i>
        </a>
        <div class="customizer-tabs">
            <!-- tabs list -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#menubar-customizer" aria-controls="menubar-customizer" role="tab" data-toggle="tab">Menubar</a></li>
                <li role="presentation"><a href="#navbar-customizer" aria-controls="navbar-customizer" role="tab" data-toggle="tab">Navbar</a></li>
            </ul><!-- .nav-tabs -->

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active fade" id="menubar-customizer">
                    <div class="hidden-menubar-top hidden-float">
                        <div class="m-b-0">
                            <label for="menubar-fold-switch">Fold Menubar</label>
                            <div class="pull-right">
                                <input id="menubar-fold-switch" type="checkbox" data-switchery data-size="small" />
                            </div>
                        </div>
                        <hr class="m-h-md">
                    </div>
                    <div class="radio radio-default m-b-md">
                        <input type="radio" id="menubar-light-theme" name="menubar-theme" data-toggle="menubar-theme" data-theme="light">
                        <label for="menubar-light-theme">Light</label>
                    </div>

                    <div class="radio radio-inverse m-b-md">
                        <input type="radio" id="menubar-dark-theme" name="menubar-theme" data-toggle="menubar-theme" data-theme="dark">
                        <label for="menubar-dark-theme">Dark</label>
                    </div>
                </div><!-- .tab-pane -->
                <div role="tabpanel" class="tab-pane fade" id="navbar-customizer">
                    <!-- This Section is populated Automatically By javascript -->
                </div><!-- .tab-pane -->
            </div>
        </div><!-- .customizer-taps -->
    </div>*@<!-- #app-customizer -->
    <!-- build:js ../assets/js/core.min.js -->
    <script src="~/Infinity/libs/bower/jQuery-Storage-API/jquery.storageapi.min.js"></script>
    <script src="~/Infinity/libs/bower/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="~/Infinity/libs/bower/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Infinity/libs/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/Infinity/libs/bower/PACE/pace.min.js"></script>
    <!-- endbuild -->
    <!-- build -->
    <script src="~/Infinity/assets/js/library.js"></script>
    <script src="~/Infinity/assets/js/plugins.js"></script>
    <script src="~/Infinity/assets/js/app.js"></script>
    <!-- endbuild -->
    <script src="~/Infinity/libs/bower/moment/moment.js"></script>
    <script src="~/Infinity/libs/bower/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Infinity/assets/js/fullcalendar.js"></script>

    <script>
        Breakpoints();

        $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });
    </script>

    @RenderSection("Footer", false)
</body>
</html>