﻿@*@using DataCollection.ViewModels*@
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    @*<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/bni.ico")" />*@
    <link href="~/Content/Login.css`" rel="stylesheet" type="text/css" />
    <link href="~/Content/hot-sneaks/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" /> 
    <link href="~/Content/kendo/2013.1.514/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/kendo/2013.1.514/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.pnotify.default.css" rel="stylesheet" type="text/css" />

    @*<script type="text/javascript" src="~/Scripts/kendo/2013.1.514/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts//jquery.pnotify.min.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
   
    <!--[if lt IE 7.]>
	    <script defer type="text/javascript" src='@Url.Content("~/Scripts/pngfix/pngfix.js")'></script>
    <![endif]-->

  
</head>

<body style="background:#fff;">

<center>
@RenderBody()
</center>

@RenderSection("Footer", false)
</body>
</html>
