﻿@using DataCollection.Models
@using DataCollection.ViewModels
@using Microsoft.AspNetCore.Http.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Service Centre" />
    <link rel="shortcut icon" sizes="196x196" href="~/images/logo.png">
    <title>@ViewData["Title"] - Service Centre</title>

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/MainLayout/libs/bower/material-design-iconic-font/dist/css/material-design-iconic-font.css">
    <!-- build:css ../assets/css/app.min.css -->
    <link rel="stylesheet" href="~/MainLayout/libs/bower/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/MainLayout/libs/bower/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/MainLayout/libs/bower/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/MainLayout/libs/bower/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/lib/lightbox/css/lightbox.css">
    <link rel="stylesheet" href="~/MainLayout/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/MainLayout/assets/css/core.css">
    <link rel="stylesheet" href="~/MainLayout/assets/css/app.css">

    <link href="~/kendo/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/kendo/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="~/kendo/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/kendo/styles/kendo.dataviz.material.min.css" rel="stylesheet" type="text/css" />

    <!-- endbuild -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900">*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <script src="~/MainLayout/libs/bower/breakpoints.js/dist/breakpoints.min.js"></script>

    <script src="~/MainLayout/libs/bower/jquery/dist/jquery.js"></script>
    <script src="~/MainLayout/libs/bower/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/kendo/js/kendo.all.min.js"></script>
    <script src="~/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/kendo/js/cultures/kendo.culture.id-ID.min.js"></script>

    <script>
        kendo.culture('id-ID');
    </script>

    <style>
        /* Absolute Center Spinner */
        .loading {
            position: fixed;
            display: none;
            z-index: 1031;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        /* Transparent Overlay */
        .loading:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
        }

        /* :not(:required) hides these rules from IE9 and below */
        .loading:not(:required) {
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
        }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }
    </style>

    @RenderSection("Header", false)
</head>

<body class="menubar-left menubar-unfold menubar-light theme-success">
    <!--============= start main area -->
    <!-- APP NAVBAR ==========-->
    <nav id="app-navbar" class="navbar navbar-inverse navbar-fixed-top success">

        <!-- navbar header -->
        <div class="navbar-header">
            <button type="button" id="menubar-toggle-btn" class="navbar-toggle visible-xs-inline-block navbar-toggle-left hamburger hamburger--collapse js-hamburger">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>

            <button type="button" class="navbar-toggle navbar-toggle-right collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="zmdi zmdi-hc-lg zmdi-more"></span>
            </button>

            <button type="button" class="navbar-toggle navbar-toggle-right collapsed" data-toggle="collapse" data-target="#navbar-search" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="zmdi zmdi-hc-lg zmdi-search"></span>
            </button>

            <a asp-action="Index" asp-controller="Tagihan" class="navbar-brand">
                <span class="brand-icon"><i class="fa fa-cube"></i></span>
                <span class="brand-name">Service Centre</span>
            </a>
        </div><!-- .navbar-header -->

        <div class="navbar-container container-fluid">
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-toolbar navbar-toolbar-left navbar-left">
                    <li class="hidden-float hidden-menubar-top">
                        <a href="javascript:void(0)" role="button" id="menubar-fold-btn" class="hamburger hamburger--arrowalt is-active js-hamburger">
                            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
                        </a>
                    </li>
                    <li>
                        <h5 class="page-title hidden-menubar-top hidden-float">@ViewBag.Title</h5>
                    </li>
                </ul>
            </div>
        </div><!-- navbar-container -->
    </nav>
    <!--========== END app navbar -->
    <!-- APP ASIDE ==========-->
    <aside id="menubar" class="menubar light">
        <div class="app-user">
            <div class="media">
                <div class="media-left">
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="avatar avatar-md avatar-circle">
                            <a href="javascript:void(0)"><img class="img-responsive" src="~/images/photos/adminAvatar.png" alt="avatar" /></a>
                        </div><!-- .avatar -->
                    }
                    else
                    {
                        <div class="avatar avatar-md avatar-circle">
                            <a href="javascript:void(0)"><img class="img-responsive" src="~/images/photos/userAvatar.png" alt="avatar" /></a>
                        </div><!-- .avatar -->
                    }
                </div>
                <div class="media-body">
                    <div class="foldable">
                        <h5><a href="javascript:void(0)" class="username">@Context.User.Identity.Name</a></h5>
                        <ul>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle usertitle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <small>Administrator</small>
                                    }
                                    else
                                    {
                                        <small>Standard User</small>
                                    }
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu animated flipInY">
                                    <li>
                                        <a class="text-color" asp-action="ChangePassword" asp-controller="Account">
                                            <span class="m-r-xs"><i class="fa fa-key"></i></span>
                                            <span>Change Password</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-color" asp-action="Logout" asp-controller="Account">
                                            <span class="m-r-xs"><i class="fa fa-power-off"></i></span>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- .media-body -->
            </div><!-- .media -->
        </div><!-- .app-user -->

        <div class="menubar-scroll">
            <div class="menubar-scroll-inner">
                <ul class="app-menu">
                    @if (User.IsInRole("Admin"))
                    {
                        <li id="menu-user"><a asp-action="Index" asp-controller="Account"><span class="menu-icon fa fa-user"></span><span class="menu-text"> Account Management</span></a></li>
                        <li id="menu-user"><a asp-action="Index" asp-controller="Lookup"><span class="menu-icon fa fa-cog"></span><span class="menu-text"> Settings</span></a></li>
                        <li id="menu-user"><a asp-action="Index" asp-controller="Komisi"><span class="menu-icon fa fa-dollar"></span><span class="menu-text"> Komisi</span></a></li>
                        <li id="menu-user"><a asp-action="Index" asp-controller="Kasbon"><span class="menu-icon fa fa-bank"></span><span class="menu-text"> Kasbon</span></a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)" class="submenu-toggle">
                                <i class="menu-icon fa fa-table"></i>
                                <span class="menu-text">Insentif</span>
                                <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                            </a>
                            <ul class="submenu">
                                <li><a asp-action="Index" asp-controller="Insentif"><span class="menu-icon fa fa-table"></span><span class="menu-text" id="menu-items"> Rumus Insentif</span></a></li>
                                <li><a asp-action="Report" asp-controller="Insentif"><span class="menu-icon fa fa-table"></span><span class="menu-text" id="menu-report-items"> Laporan Insentif Bulanan</span></a></li>
                            </ul>
                        </li>
                        <li id="menu-user"><a asp-action="Index" asp-controller="UserAplikasi"><span class="menu-icon fa fa-users"></span><span class="menu-text"> User Aplikasi</span></a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)" class="submenu-toggle">
                                <i class="menu-icon fa fa-money"></i>
                                <span class="menu-text">Tagihan</span>
                                <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                            </a>
                            <ul class="submenu">
                                <li><a asp-action="Index" asp-controller="Tagihan"><span class="menu-icon fa fa-money"></span><span class="menu-text" id="menu-items"> Semua Tagihan</span></a></li>
                                <li><a asp-action="Bulanan" asp-controller="Tagihan"><span class="menu-icon fa fa-money"></span><span class="menu-text" id="menu-report-items"> Bulan ini</span></a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li id="menu-user"><a asp-action="Index" asp-controller="Kasbon"><span class="menu-icon fa fa-bank"></span><span class="menu-text"> Kasbon</span></a></li>
                        <li id="menu-user"><a asp-action="Index" asp-controller="Tagihan"><span class="menu-icon fa fa-money"></span><span class="menu-text"> Tagihan</span></a></li>
                    }
                    <li class="menu-separator"><hr></li>
                </ul><!-- .app-menu -->
            </div><!-- .menubar-scroll-inner -->
        </div><!-- .menubar-scroll -->
    </aside>
    <!--========== END app aside -->
    <!-- navbar search -->
    <div id="navbar-search" class="navbar-search collapse">
        <div class="navbar-search-inner">
            <form action="#">
                <span class="search-icon"><i class="fa fa-search"></i></span>
                <input class="search-field" type="search" placeholder="search..." />
            </form>
            <button type="button" class="search-close" data-toggle="collapse" data-target="#navbar-search" aria-expanded="false">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="navbar-search-backdrop" data-toggle="collapse" data-target="#navbar-search" aria-expanded="false"></div>
    </div><!-- .navbar-search -->
    <!-- APP MAIN ==========-->
    <main id="app-main" class="app-main">
        <div class="wrap">
            <section class="app-content">
                <div class="row">
                    @*<div class="modal"><img src="~/images/ajax-loader.gif" alt="Loading... Please Wait" /><!-- Place at bottom of page --></div>*@
                    @RenderBody()
                </div>
            </section><!-- #dash-content -->
        </div><!-- .wrap -->
        <!-- APP FOOTER -->
        <div class="wrap p-t-0">
            <footer class="app-footer">
                <div class="clearfix">
                    <div class="copyright pull-left">Created by Louis Vernando&copy;</div>
                </div>
            </footer>
        </div>
        <!-- /#app-footer -->
    </main>
    <!--========== END app main -->
    <div class="loading">
        Loading&#8230;
    </div>
    
    <!-- build:js ../assets/js/core.min.js -->
    <script src="~/MainLayout/libs/bower/jQuery-Storage-API/jquery.storageapi.min.js"></script>
    <script src="~/MainLayout/libs/bower/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="~/MainLayout/libs/bower/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/MainLayout/libs/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/MainLayout/libs/bower/PACE/pace.min.js"></script>
    @*<script src="~/lib/lightbox/js/lightbox.js"></script>*@

    <!-- endbuild -->
    <!-- build -->
    <script src="~/MainLayout/assets/js/library.js"></script>
    <script src="~/MainLayout/assets/js/plugins.js"></script>
    <script src="~/MainLayout/assets/js/app.js"></script>
    <!-- endbuild -->
    <script src="~/MainLayout/libs/bower/moment/moment.js"></script>
    <script src="~/MainLayout/libs/bower/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/MainLayout/assets/js/fullcalendar.js"></script>

    <script>
        Breakpoints();

        $body = $("body");

        $(document).ready(function() {
            //document.body.style.zoom = "80%";
            //$(body).css({
            //    '-moz-transform': 'scale(0,8)'
            //});
            
        });

        function displayBusyIndicator() {
            $('.loading').show();
        }

        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });

    </script>

    @RenderSection("Footer", false)
</body>
</html>