﻿@{
    ViewData["Title"] = "Access Denied";
}

@section Footer {
    <script type="text/javascript">
    </script>
}
<div class="pageheader">
    <div class="pageicon"><span class="fa fa-warning"></span></div>
    <div class="pagetitle">
        <h1>Access Denied!</h1>
        <h5>Sorry you dont have access to this page</h5>
    </div>
</div><!--pageheader-->