﻿@{ 
    Layout = null;
}

@model BillingPDFViewModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <title>Editable Invoice</title>

    @*<link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />*@

    <script src="~/kendo/js/jquery.min.js"></script>
    <script src="~/kendo/js/jszip.min.js"></script>
    <script src="~/kendo/js/kendo.all.min.js"></script>
    <script src="~/kendo/js/kendo.aspnetmvc.min.js"></script>

    <link rel='stylesheet' type='text/css' href='~/css/stylePDF.css' />
    <link rel='stylesheet' type='text/css' href='~/css/print.css' media="print" />

    <script>
        
    </script>

    <!-- Load Pako ZLIB library to enable PDF compression -->
    <script src="~/kendo/js/pako_deflate.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            var strFile = "Invoice #@(Model.Billing.Code).pdf";
            $(".export-pdf").click(function () {
                // Convert the DOM element to a drawing using kendo.drawing.drawDOM
                kendo.drawing.drawDOM($("#page-wrap"))
                .then(function (group) {
                    // Render the result as a PDF file
                    return kendo.drawing.exportPDF(group, {
                        paperSize: "auto",
                        margin: { left: "2mm", top: "1mm", right: "1mm", bottom: "1mm" }
                    });
                })
                .done(function (data) {
                    // Save the PDF file
                    kendo.saveAs({
                        dataURI: data,
                        fileName: strFile,
                        proxyURL: "@Url.Action("Pdf_Export_Save")"
                    });
                });
            });

	    $(".print-pdf").click(function(){
		javascript:window.print();	    
	    });
	    
javascript:window.print();	

        });

    </script>

</head>

<body>
    <div id="page-wrap">
        @*@if (Model.Billing.StatusTransaksi == 1)
        {
            <textarea id="header">INVOICE PENJUALAN</textarea>
        }
        else
        {
            <textarea id="header">SURAT TITIPAN</textarea>
        }*@
        <textarea id="header">INVOICE PENJUALAN</textarea>
        <div id="identity">
            <div id="address">
                <p>Kepada Yth :</p>
                <p>@Model.Billing.Customers.Name</p>
                <p>@Model.Billing.Customers.Address</p>
                <p>@Model.Billing.Customers.City</p>
                <p>@Model.Billing.Customers.PhoneNumber</p>
            </div>
            @*<div id="logo">
                <img id="image" src="~/images/logoa.png" alt="logo" />
            </div>*@

        </div>

        @*<div style="clear:both"></div>*@

        <div id="customer">

            @*<textarea id="customer-title">
                @Model.Billing.Customers.Name
            </textarea>*@

            <table id="meta">
                <tr>
                    <td class="meta-head">Invoice #</td>
                    <td>@Model.Billing.Code</td>
                </tr>
                <tr>
                    <td class="meta-head">Tanggal</td>
                    <td>@Html.DisplayFor(x => x.Billing.Date)</td>
                </tr>
                <tr>
                    <td class="meta-head">Jatuh Tempo</td>
                    <td>@Html.DisplayFor(x => x.Billing.JatuhTempo)</td>
                </tr>
                @*<tr>
                    <td class="meta-head">Total Pembayaran</td>
                    <td><div class="due">@Html.DisplayFor(x => x.Billing.TotalAmountPajak)</div></td>
                </tr>*@

            </table>

        </div>

        <table id="items">
            <tr>
                <th colspan="2">Nama Barang</th>
                <th>Qty</th>
                <th>Harga</th>
                <th>Jumlah</th>
            </tr>
            @{
                int rowNumber = 0;
                foreach (BillingItems data in Model.BillingItems)
                {
                    <tr class="item-row">
                        <td class="description" colspan="2" style="text-align: left">@data.Items.ParentCategoriesName @data.Items.Name</td>
                        <td>@data.Qty.ToString("N0") @data.Items.Satuan</td>
                        <td style="text-align: right;">@data.Price.ToString("N0")</td>
                        <td style="text-align: right;">@data.TotalAmount.ToString("N0")</td>
                    </tr>
                    rowNumber++;
                            }
                while (rowNumber < 10)
                {
                    <tr class="item-row">
                        <td class="description" colspan="2"><a style="color:white;">adsadas</a> </td>
                        <td><a style="color:white;">adsadas</a></td>
                        <td><a style="color:white;">adsadas</a></td>
                        <td><a style="color:white;">adsadas</a></td>
                    </tr>
                    rowNumber++;
                }
            }
            <tr>
                @*<td colspan="2" class="blank"></td>*@
                <td class="blank">Disetujui Oleh</td>
                <td style="text-align:center;" class="blank">Diterima Oleh</td>
                <td colspan="2" class="total-line">Subtotal</td>
                <td class="total-value"><div id="subtotal" style="text-align: right; ">@Html.DisplayFor(x => x.Billing.TotalAmount)</div></td>
            </tr>
            <tr>
                <td colspan="2" class="blank"></td>
                <td colspan="3" class="total-line" style="border-bottom-color: white; color:white; text-align: center;">BCA : 277-140-3893 A/N MERRY LIM       
                </td>
                @*<td colspan="3" class="total-line" style="text-align: center">BCA : 277-140-3893 A/N MERRY LIM       </td>*@
            </tr>
            <tr>
                <td colspan="2" class="blank"></td>
                <td colspan="3" class="total-line" style="text-align: center;">BCA : 233-122-1111 A/N XXX  
                </td>
                @*
                <td colspan="2" class="total-line" style="color:white;">Pajak</td>
                <td class="total-value" style="color:white; border-bottom-color: white">@Html.DisplayFor(x => x.Billing.Pajak)</td>
                *@
            </tr>
            <tr>
                <td colspan="5"><text>KET : 7 Hari setelah barang diterima dan tidak ada komplain/keluhan, maka Nota ini dinyatakan SAH.</text></td>
            </tr>
        </table>

        @*<table style="width:100%; border:none; margin-top:100px; margin-bottom:60px;">
            <tr style="border:none;">
                <td style="border:none;">Disetujui Oleh</td>
                <td style="text-align:right; border:none;">Diterima Oleh</td>
            </tr>
            <tr style="height:120px; border:none;">
                <td style="vertical-align:bottom; border:none;">___________</td>
                <td style="text-align:right; vertical-align:bottom;border:none;">___________</td>
            </tr>
            <tr style="border:none;">
                <td style="vertical-align:bottom; border:none;">Nama Pengirim</td>
                <td style="text-align:right; vertical-align:bottom;border:none;">Nama Penerima</td>
            </tr>
        </table>*@

        @*<div id="terms">
            <h5>Syarat &amp; Ketentuan</h5>
            <textarea>Contoh syarat dan ketentuan</textarea>
        </div>*@

    </div>
@*
	<button class="export-pdf">Export PDF</button>
	<button class="print-pdf">Print PDF</button>*@
</body>
</html>