/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }


@media print {
    html, body {
	font-family: Arial;
    }

    @page {
      size: 13.97cm 21.59cm;
    }

}

body {
    font: 14px Arial;
    /*font-weight: bold;*/
}
#page-wrap {
    height: 284px; /* height of receipt 4.5 inches*/
    width: 700px; /* weight of receipt 8.6 inches*/
    position: relative; /* positioned relative to its normal position */
    margin: 0px auto;
}

textarea {
    border: 0;
    font: 16px Arial, Serif;
    overflow: hidden;
    resize: none;
}
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 2px; }

#header {
    height: 14px;
    width: 100%;
    border-style: outset;
    text-align: center;
    margin: 20px 0;
    text-decoration: uppercase;
    padding: 4px 0px;
    font-weight: bold;
}

#address { width: 350px; float: left; }
#customer { overflow: hidden; }

#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-title { font-size: 20px; font-weight: bold; float: left; }

#meta { margin-top: 1px; width: 250px; float: right; }
#meta td { text-align: right; padding-right:10px;}
/*#meta td.meta-head { text-align: left; background: #eee; }*/
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black;}
/*#items th { background: #eee; }*/
#items textarea { width: 80px; height: 50px; }
#items tr.item-row td { text-align: center }
#items td.description { width: 300px; }
#items td.item-name { width: 100px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 5px; }
#items td.total-value textarea { height: 10px; background: none; }
#items td.balance {  }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

/*textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }*/

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }