﻿@{
    ViewData["Title"] = "Laporan Laba Bulanan";
}

@model ReportViewModel

@section Footer {
    <script type="text/javascript">
        var SelectedRow = "";
        var State = "create";
        var Dialog;

        $(document).ready(function() {
            Dialog = $("<div id='window' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                width: "100%",
                height: "100%"
            }).data("kendoWindow");

            Dialog_2 = $("<div id='window_2' />").appendTo("body").kendoWindow({
                title: "Title",
                animation: false,
                resizable: false,
                modal: true,
                visible: false,
                open: function(e) {
                    this.wrapper.css({ top: 50, left: 50 });
                }
            }).data("kendoWindow");
        });

        function Info_Data() {
            return {
                Date: kendo.toString($("#Date").data("kendoDatePicker").value(), "dd/MM/yyyy"),
                Type: 2
            };
        }

        function SubmitReport() {
            RefreshGridPenjualan();
            RefreshGridStockEntry();
            //RefreshGridReturStockEntry();
            //RefreshGridReturPenjualan();
            RefreshChart();
            RefreshChartHistory();
            RefreshRingkasan();
        }

        function RefreshRingkasan() {
            var date = kendo.toString($("#Date").data("kendoDatePicker").value(), "dd/MM/yyyy");
            var Url = '@Url.Content("~/Report/SelectRingkasan")' + "?Date=" +date+"&Type=2";
            $.get(Url, function (data) {
                $("#TotalPenjualan").text("Total Penjualan : " + data.Billing);
                $("#TotalPembelian").text("Total Pembelian : " + data.StockEntry);
                $("#KasKecilDebet").text("Total Kas Debet : " + data.KasDebet);
                $("#KasKecilCredit").text("Total Kas Kredit : " + data.KasKredit);
                $("#TotalReturPembelian").text("Total Retur Pembelian : " + data.ReturPembelian);
                $("#TotalReturPenjualan").text("Total Retur Penjualan : " + data.ReturPenjualan);
                $("#Status").text(data.Status);
            });
            return;
        }

        function RefreshGridPenjualan() {
            var Grid = $('#GridPenjualan').data('kendoGrid');
            Grid.dataSource.read();
            SelectedRow = "";
            return false;
        }

        function RefreshGridStockEntry() {
            var Grid = $('#GridStockEntry').data('kendoGrid');
            Grid.dataSource.read();
            SelectedRow = "";
            return false;
        }

        function RefreshGridReturStockEntry() {
            var Grid = $('#GridReturStockEntry').data('kendoGrid');
            Grid.dataSource.read();
            SelectedRow = "";
            return false;
        }

        function RefreshGridReturPenjualan() {
            var Grid = $('#GridReturPenjualan').data('kendoGrid');
            Grid.dataSource.read();
            SelectedRow = "";
            return false;
        }

        function RefreshChart() {
            var Chart = $('#chart').data('kendoChart');
            Chart.dataSource.read();
            return false;
        }

        function RefreshChartHistory() {
            var Chart = $('#chartHistory').data('kendoChart');
            Chart.dataSource.read();
            return false;
        }

        var index = 0;
        var CurrentPage = 0;
        var CurrentPageSize = @Utility.DefaultPageSize;

        function GetRowNumber() {
            return ++index;
        }

        function onDataBinding() {
            var Grid = $("#Grid").data("kendoGrid");
            CurrentPage = Grid.dataSource.page();
            CurrentPageSize = Grid.dataSource.pageSize();
            index = ((CurrentPage - 1) * CurrentPageSize);
        }

        function onChange(e) {
            var Grid = e.sender;
            SelectedRow = $.map(this.select(),
                function(item) {
                    return Grid.dataItem(item).Id;
                });
        }

        function Info_ParentCategories() {
            return {
                Id: $("#ParentCategoriesId").val()
            };
        }


    </script>
}
<div class="pageheader">
    <div class="pageicon"><span class="fa fa-bar-chart"></span></div>
    <div class="pagetitle">
        <h1>Report</h1>
        <h5>Laporan Transaksi Bulanan</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
        <div class="row">
            @Html.Kendo().DatePickerFor(x => x.Date).Start(CalendarView.Year).Depth(CalendarView.Year).Value(DateTime.Today)
            <button onclick="SubmitReport()">Submit</button>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <header class="panel-heading">
                    <h4 class="panel-title">Ringkasan</h4>
                </header>
                <div class="panel-body">
                    <p id="Status" style="font-size: 16px;"><b>Status : </b></p>
                    <p id="TotalPenjualan" style="color: green">Total Penjualan : </p>
                    <p id="TotalPembelian" style="color: red">Total Pembelian : </p>
                    <p id="KasKecilDebet" style="color: green">Kas Debet : </p>
                    <p id="KasKecilCredit" style="color: red">Kas Kredit : </p>
                    <p id="TotalReturPembelian" style="color: green">Total Retur Pembelian : </p>
                    <p id="TotalReturPenjualan" style="color: red">Total Retur Penjualan : </p>
                </div>
            </div><!-- .widget -->
        </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <header class="widget-header">
                            <h4 class="widget-title">Grafik Laba Bulanan</h4>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            @(Html.Kendo().Chart<KeuanganChartViewModel>()
                                .Name("chart")
                                .AutoBind(false)
                                //.Title("Laporan")
                                .Legend(legend => legend
                                    .Position(ChartLegendPosition.Top)
                                )
                                .DataSource(ds =>
                                {
                                    ds.Read(read => read.Action("SelectKeuanganChart", "Report").Data("Info_Data"));
                                }
                                )
                                .Series(series => series
                                        .Pie(model => model.Jumlah, model => model.Type)
                                        .ColorField("Color")
                                        .Padding(0)
                                )
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Format("{0:C0}")
                                )
                            )
                        </div>
                    </div><!-- .widget -->
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <header class="widget-header">
                            <h4 class="widget-title">Grafik 3 bulan terakhir</h4>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            @(Html.Kendo().Chart<KeuanganHistoryChartViewModel>()
                                .Name("chartHistory")
                                .AutoBind(false)
                                //.Title("Spain electricity production (GWh)")
                                .Legend(legend => legend
                                    .Position(ChartLegendPosition.Top)
                                )
                                .DataSource(ds => ds.Read(read => read.Action("SelectKeuanganHistoryChart", "Report").Data("Info_Data")))
                                .Series(series =>
                                {
                                    series.Column(model => model.Penjualan).Name("Penjualan").Color("#3C0").CategoryField("Date");
                                    series.Column(model => model.StockEntry).Name("Pembelian").Color("#C00").CategoryField("Date");
                                })
                                .CategoryAxis(axis => axis
                                    //.Labels(labels => labels.Rotation(-90))
                                    .MajorGridLines(lines => lines.Visible(false))
                                )
                                .ValueAxis(axis => axis.Numeric()
                                    .Labels(labels => labels.Format("{0:N0}"))
                                    .Line(line => line.Visible(false))
                                )
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Format("{0:N0}")
                                )
                            )
                        </div>
                    </div><!-- .widget -->
                </div>
            </div>
            <div class="row">
                @(Html.Kendo().TabStrip()
            .Name("tabstrip")
            .Animation(animation =>
                animation.Open(effect =>
                    effect.Fade(FadeDirection.In)))
            .Items(tabstrip =>
            {
            tabstrip.Add().Text("Penjualan")
                    .Selected(true)
                    .Content(@<text>
                    @(Html.Kendo().Grid<Billing>()
                    .Name("GridPenjualan")
                    .AutoBind(false)
                    .Columns(columns =>
                    {
                        columns.Bound(e => e.Date).Title("Tanggal").Width(100);
                        columns.Bound(e => e.Code).Title("Kode Penjualan").Width(100);
                        columns.Bound(e => e.Customers_Code).Title("Kode Pelanggan").Width(100);
                        columns.Bound(e => e.Customers_Name).Title("Nama Pelanggan").Width(100);
                        columns.Bound(e => e.TotalAmount).Title("Total Harga").Width(100);
                        columns.Bound(e => e.Pajak).Title("Pajak").Width(100);
                        columns.Bound(e => e.TotalAmountPajak).Title("Total Harga + Pajak").Width(100);
                        columns.Bound(e => e.TotalProfit).Title("Total Keuntungan").Width(100);
                    })
                    .DataSource(binding => binding
                        .Ajax()
                        .Model(model => model.Id(m => m.Id))
                        .Read(x => x.Action("SelectKeuanganBilling", "Report").Data("Info_Data"))
                    )
                    .Editable(m => m.Enabled(false))
                    .Resizable(m => m.Columns(true))
                    .Sortable()
                    .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(10))
                    .ClientDetailTemplateId("templateBilling")
                    .Filterable(filterable => filterable
                        .Extra(true)
                        .Operators(operators => operators
                        .ForString(str => str.Clear()
                            .Contains(Utility.GridFilter["Contains"])
                            .DoesNotContain(Utility.GridFilter["DoesNotContain"])
                            .IsEqualTo(Utility.GridFilter["IsEqualTo"])
                            .IsNotEqualTo(Utility.GridFilter["IsNotEqualTo"])
                            .StartsWith(Utility.GridFilter["StartsWith"])
                            .EndsWith(Utility.GridFilter["EndsWith"])
                        ))
                    )
                    .Scrollable(m => m.Height(520))
                    .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Multiple)
                        .Type(GridSelectionType.Row))
                    )

                <script id="templateBilling" type="text/kendo-tmpl">
                    @(Html.Kendo().Grid<BillingItems>()
                        .Name("gridBilling_#=Id#")
                         .Columns(columns =>
                         {
                             columns.Bound(e => e.Items_Code).Title("Kode Product").Width(100);
                             columns.Bound(e => e.Items.Name).Title("Nama Product").Width(250);
                             columns.Bound(e => e.Price).Title("Harga").Width(100);
                             columns.Bound(e => e.Qty).Width(70);
                             columns.Bound(e => e.Items.Satuan).Width(50);
                             columns.Bound(e => e.TotalAmount).Width(100);
                             columns.Bound(e => e.Profit).Width(100);
                         })
                        .DataSource(binding => binding
                            .Ajax()
                            .Model(model => model.Id(m => m.Id))
                            .Read("SelectBillingItems", "Billing", new { BillingId = "#=Id#" })
                        )
                        .Pageable()
                        .Sortable()
                        .ToClientTemplate()
                    )
                </script>
                    </text>);

                    tabstrip.Add().Text("Pembelian")
                        .Content(@<text>
                    @(Html.Kendo().Grid<StockEntry>()
                    .Name("GridStockEntry")
                    .AutoBind(false)
                    .Columns(columns =>
                    {
                        columns.Bound(e => e.Date).Title("Tanggal").Width(100);
                        columns.Bound(e => e.Code).Title("Kode Transaksi").Width(100);
                        columns.Bound(e => e.Suppliers.City).Title("Kota").Width(100);
                        columns.Bound(e => e.Suppliers.Code).Title("Kode Supplier").Width(100);
                        columns.Bound(e => e.Suppliers_Name).Title("Nama Supplier").Width(100);
                        columns.Bound(e => e.TotalAmount).Width(100);
                    })
                    .DataSource(binding => binding
                        .Ajax()
                        .Model(model => model.Id(m => m.Id))
                        .Read(x => x.Action("SelectKeuanganStockEntry", "Report").Data("Info_Data"))
                    )
                    .Editable(m => m.Enabled(false))
                    .Resizable(m => m.Columns(true))
                    .Sortable()
                    .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(10))
                    .ClientDetailTemplateId("templateStockEntry")
                    .Filterable(filterable => filterable
                        .Extra(true)
                        .Operators(operators => operators
                        .ForString(str => str.Clear()
                            .Contains(Utility.GridFilter["Contains"])
                            .DoesNotContain(Utility.GridFilter["DoesNotContain"])
                            .IsEqualTo(Utility.GridFilter["IsEqualTo"])
                            .IsNotEqualTo(Utility.GridFilter["IsNotEqualTo"])
                            .StartsWith(Utility.GridFilter["StartsWith"])
                            .EndsWith(Utility.GridFilter["EndsWith"])
                        ))
                    )
                    .Scrollable(m => m.Height(520))
                    .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Multiple)
                        .Type(GridSelectionType.Row))
                    )

                <script id="templateStockEntry" type="text/kendo-tmpl">
                    @(Html.Kendo().Grid<StockEntryItems>()
                        .Name("gridStockEntry_#=Id#")
                         .Columns(columns =>
                         {
                             columns.Bound(e => e.Items.CategoriesName).Title("Kategori").Width(100);
                             columns.Bound(e => e.Items_Code).Title("Kode Product").Width(100);
                             columns.Bound(e => e.Items.Name).Title("Nama Product").Width(250);
                             columns.Bound(e => e.Qty).Width(70);
                             columns.Bound(e => e.Items.Satuan).Width(50);
                             columns.Bound(e => e.TotalAmount).Width(100);
                         })
                        .DataSource(binding => binding
                            .Ajax()
                            .Model(model => model.Id(m => m.Id))
                            .Read("SelectStockEntryItems", "StockEntry", new { StockEntryId = "#=Id#" })
                        )
                        .Pageable()
                        .Sortable()
                        .ToClientTemplate()
                    )
                </script>
                    </text>);
                })
                )
            </div>
        </div><!--row-fluid-->
    </div><!--maincontentinner-->
</div><!--maincontent-->
