﻿@{ 
    ViewBag.Title = "Mengubah Lookup";
}

@model Lookup

<script>
    $(function () {
        $("DialogForm").kendoValidator();
    });

</script>

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-cog"></span></div>
    <div class="pagetitle">
        <h5>Mengubah Data Settings</h5>
        <h1>Settings</h1>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="widget">
                <h4 class="widgettitle">Mengubah Settings</h4>
                <div class="widgetcontent">
                    @using (Html.BeginForm("Edit", "Lookup", FormMethod.Post, new { id = "DialogForm", @class = "stdform" }))
                    {
                        @if (ViewBag.EnableErrorSummary == true)
                        {
                            <div class="panel panel-danger">
                                <header class="panel-heading">
                                    <h4 class="panel-title">Daftar Error</h4>
                                </header>
                                <div class="panel-body">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div><!-- .widget -->
                        }
                        @Html.HiddenFor(x => x.Id)
                        <p>
                            <label>@Html.LabelFor(model => model.Type)</label>
                            <span class="field">
                                @(Html.Kendo().AutoCompleteFor(x => x.Type)
                            .Filter("Contains")
                            .Placeholder("Masukkan Code Lookup disini")
                            .Suggest(true)
                            .BindTo(ViewBag.Type)
                            .HtmlAttributes(new { @class = "form-control" }))
                            </span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Name</label>
                            <span class="field">@Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Nama Supplier" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p>
                            <label>Value</label>
                            <span class="field">@Html.Kendo().NumericTextBoxFor(x => x.Value).Min(0).HtmlAttributes(new { @placeholder = "Value" })</span>
                            <small class="desc">* Required</small>
                        </p>
                        <p class="stdformbutton">
                            <button class="btn btn-success" onclick="Create()">Simpan</button>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
