﻿@model IEnumerable<LookupViewModel>

@{
    ViewBag.Title = "Manage Lookup";
}

@section Footer {
    <script type="text/javascript">
    var SelectedRow = "";
    var State = "create";
    var Dialog;

    function RefreshGrid() {
        var Grid = $('#Grid').data('kendoGrid');
        Grid.dataSource.read();
        SelectedRow = "";
        return false;
    }

    function Create() {
        var Url = '@Url.Content("~/Lookup/Create")';
        $.ajax({
            type: 'POST',
            dataType: 'json',
            data: $('#DialogForm').serialize(),
            url: Url,
            success: function (data) {
                if (data == "") {
                    Dialog.close();
                    RefreshGrid();
                }
                else {
                    //alert(data.ErrorMessage);
                }
            }
        });
        return;
    }

    function Edit() {
        var Url = '@Url.Content("~/Lookup/Edit")';
        $.ajax({
            type: 'POST',
            dataType: 'json',
            data: $('#DialogForm').serialize(),
            url: Url,
            success: function (data) {
                if (data == "") {
                    Dialog.close();
                    RefreshGrid();
                }
                else {
                    //alert(data.ErrorMessage);
                }
            }
        });
        return;
    }

    $(document).ready(function () {
        Dialog = $("<div id='window' />").appendTo("body").kendoWindow({
            title: "Title",
            animation:false,
            resizable: false,
            modal: true,
            visible: false,
            width: "100%",
            height: "100%"
        }).data("kendoWindow");

        //$("body").delegate("#GridButtonCreate", "click", function () {
        //    State = "create";
        //    $.ajax({
        //        type: 'GET',
        //        url: $(this).attr("href"),
        //        success: function (data) {
        //            Dialog.title("Create Data").content(data).center().open();
        //        }
        //    });
        //    return false;
        //});

        $("body").delegate("#GridButtonEdit", "click", function () {
            if(SelectedRow.length != 1) {
                alert("Pilih satu data saja!");
                return false;
            }
            State = "edit";
            var url = $(this).attr("href") + "/" + SelectedRow;
            window.location.href = url;
            return false;
        });



        $("body").delegate("#GridButtonDelete", "click", function () {
            if(SelectedRow.length == 0) {
                alert("Pilih minimal satu data!");
                return false;
            }
            if (!confirm("Anda yakin ingin menghapus " + SelectedRow.length + " data ini?")) {
                return false;
            }
            $.ajax({
                type: 'POST',
                url: $(this).attr("href") + "/" + SelectedRow.join(","),
                success: function (data) {
                    RefreshGrid();
                }
            });
            return false;
        });
    });

    var index = 0;
    var CurrentPage = 0 ;
    var CurrentPageSize = @Utility.DefaultPageSize;
    function GetRowNumber() {
        return ++index;
    }

    function onDataBinding() {
        var Grid = $("#Grid").data("kendoGrid");
        CurrentPage = Grid.dataSource.page();
        CurrentPageSize = Grid.dataSource.pageSize();
        index = ((CurrentPage - 1) * CurrentPageSize);
    }

    function onChange(e) {
        var Grid = e.sender;
        SelectedRow = $.map(this.select(), function (item) {
            return Grid.dataItem(item).Id;
        });
    }

    </script>
}

<div class="pageheader">
    <div class="pageicon"><span class="fa fa-cog"></span></div>
    <div class="pagetitle">
        <h1>Settings</h1>
        <h5>Manage Settings Data</h5>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            @await Component.InvokeAsync("GridToolbar", new
            {
                controller = "Lookup",
                listOption = new List<OptionViewModel> { new OptionViewModel("Type", "Type"), new OptionViewModel("Name", "Name"), new OptionViewModel("Value", "Value", OptionViewModel.TYPE_NUMBER), new OptionViewModel("OrderNo", "Order No", OptionViewModel.TYPE_NUMBER), new OptionViewModel("UpdatedTime", "Updated Time", OptionViewModel.TYPE_DATE) }
            })
            <div class="GridViewContainer">
                @(Html.Kendo().Grid<LookupViewModel>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(e => e.Id).Title("No").ClientTemplate("#= GetRowNumber() #").Width(100).Filterable(false).Sortable(false);
                    columns.Bound(e => e.Type).Width(150).Filterable(filterable => filterable.Extra(false));
                    columns.Bound(e => e.Name).Width(250).Filterable(filterable => filterable.Extra(false));
                    columns.Bound(e => e.Value).Width(100).Filterable(filterable => filterable.Extra(false));
                })
                .DataSource(binding => binding
                    .Ajax()
                    .PageSize(Utility.DefaultPageSize)
                    .Model(model => model.Id(m => m.Id))
                    .Read("Select", "Lookup")
                    .Group(g => g.Add(m => m.Type))
                )
                .Editable(m => m.Enabled(false))
                .Resizable(m => m.Columns(true))
                .Sortable()
                .Pageable(pager => pager
                    .PageSizes(Utility.DefaultPageSizeDropDown)
                    .Refresh(true)
                )
                .Filterable(filterable => filterable
                    .Extra(true)
                    .Operators(operators => operators
                    .ForString(str => str.Clear()
                        .Contains(Utility.GridFilter["Contains"])
                        .DoesNotContain(Utility.GridFilter["DoesNotContain"])
                        .IsEqualTo(Utility.GridFilter["IsEqualTo"])
                        .IsNotEqualTo(Utility.GridFilter["IsNotEqualTo"])
                        .StartsWith(Utility.GridFilter["StartsWith"])
                        .EndsWith(Utility.GridFilter["EndsWith"])
                    ))
                )
                .Scrollable(m => m.Height(800))
                .Selectable(selectable => selectable
                    .Mode(GridSelectionMode.Multiple)
                    .Type(GridSelectionType.Row))
                .Events(events => events
                    .DataBinding("onDataBinding")
                    .Change("onChange")
                )
                )
            </div>
        </div>
    </div>
</div>
