﻿@model Lookup

@using (Html.BeginForm("Edit", "Lookup", FormMethod.Post, new { id = "DialogForm" }))
{
    @Html.HiddenFor(model => model.Id)

    <table class="formTable">
		<tr>
			<td class="labelColumn">@Html.LabelFor(model => model.Type)<span class="required-label">*</span></td>
			<td class="valueColumn">
            @(Html.Kendo().AutoComplete()
                .Name("Type")
                .Filter("Contains")
                .Placeholder("Enter lookup keyword here..")
                .Suggest(true)
                .Value(Model.Type)
                .BindTo(ViewBag.Type)
                .HtmlAttributes(new { style = "width:196px;", @readonly = "readonly" })
            )
            </td>			
		</tr>
        <tr>
			<td class="labelColumn">@Html.LabelFor(model => model.Name)<span class="required-label">*</span></td>
			<td class="valueColumn">@Html.TextBoxFor(model => model.Name, new { @readonly = "readonly" })</td>			
		</tr>
        <tr>
			<td class="labelColumn">@Html.LabelFor(model => model.Value)<span class="required-label">*</span></td>
			<td class="valueColumn">
            @(Html.Kendo().NumericTextBox<int>()
                .Name("Value")     
                .Format("#")           
                .Placeholder("Enter value")
                .Min(0)
                .Step(1)
                .HtmlAttributes(new { style = "width:196px;", @readonly = "readonly" })
            )
            </td>			
		</tr>
        <tr class="formTable_ToolbarButton">
			<td colspan="2">
                <button onclick="Dialog.close();return false;" class="k-button">Tutup</button>
            </td>		
		</tr>
	</table>
}
